.campaign {
  background-color: $lighGray;
  padding-top: 100px;

  .top-campaign {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid white;

    .item {
      background-size: cover;
      min-height: 280px;
      width: 50%;
    }

    .left {
      color: white;
      padding: 40px;
      position: relative;

      .link {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        color: $white;
        font-size: 1.5rem;
      }
    }
  }

  .campaign-video {
    width: 100%;

    .campaign-wrapper {
      height: 600px; 
      background-size: cover; 
      display: flex; 
      flex-direction: column; 
      width: 100%;

      .inner-wrapper {
        display: flex; 
        width: 100%; 
        flex: 1;

        .text-box {
          width: 85%;
          color: white;
          align-items: center;
          display: flex;
          margin: 0 auto;

          .row {
            width: 100%;

            .left {
              align-self: center; 
              justify-content: center; 
            }

            .right {
              display: flex;
              justify-content: center;

              .button-play {
                align-self: center; 
                width: 100px;

                img {
                  width: 110px;
                  -webkit-filter: drop-shadow(5px 5px 5px $darkGray);
                  filter: drop-shadow(5px 5px 5px $darkGray);
                }
              }
            }
          }
        }
      }
    }
  }

  .information {
    padding: 1rem;
    padding-left: 40px;
  }
}

// @media screen and (max-width: 1023px) { 
//   .campaign {
//     padding: 1.25rem 0;

//     .top-campaign {
     
//       .item {}
  
//       .left {
//         padding: 1.25rem;
//       }
//     }
    
//     .campaign-video {
     
//       .campaign-wrapper {
      
//         .inner-wrapper {
          
//           .text-box {
//             width: 100%;
//             padding: 1.25rem
//           }
//         }
//       }
//     }
//   }
// }

@media screen and (max-width: 900px) {
  .campaign {
    padding: 1rem 0;
  
    .top-campaign {
      flex-direction: column;
  
      .item {
        background-size: cover;
        min-height: 280px;
        width: 100%;
      }
  
      .left {
        color: white;
      }
    }
  
    .campaign-video {
      width: 100%;
  
      .campaign-wrapper {
        min-height: 600px; 
        height: 100%;
  
        .inner-wrapper {
          flex-direction: column;
          flex: 1;
          padding: 1rem;
  
          .text-box {
            width: 100%;
            flex-direction: column;
            padding: 0;
  
            .row {
              width: 100%;
  
              .left {
                align-self: center; 
                justify-content: center; 
                width: 100%;
                padding: 0;
              }
  
              .right {
                padding: 2.5rem 0 2rem;
                align-items: center;
                justify-content: center;
                text-align: center;

                .button-play {
                  width: 100%;

                  img {
                    width: 80px;
                    width: 80px;
                  }
                }
              }
            }
          }
        }
      }
    }
  
    .information {
      padding: 1rem;
    }
  }
}

