a {
  text-decoration: none;
  color: $lightBule;
}

a:hover {
  text-decoration: none;
  color: $darkBlue;
}

.button {
    border: 1px solid $darkBlue; 
    color: $lightBule; 
    text-decoration: none;
    border-radius: 20px; 
    padding: 5px 32px;
    display: inline-block;
}

.button-white {
  background-color: $white;
}

.button-blue {
  color: $white;
  background-color: $lightBule;
}

.button:hover {
    border: 1px solid $lightBule; 
    color: $lightBule; 
    text-decoration: none;
    background-color: $lighGray;
}

.sub-header {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}

.read-more {
    margin-top: 1rem;
    color: $darkBlue;
    text-decoration: none;
    font-size: 0.6rem;
}


.related-videos {
  padding: 0 1rem;

  .content-related-videos {
    padding: 20px 0;
    // background-color: $lighGray;

    .header-related-videos {
      margin-left: 34px;
      margin: 20px auto;
      width: 87%;
      text-align: center;
    }
    
    .content-related {
      width: 88%;
      margin: 0 auto;
    }

    .item {
      padding-bottom: 20;
      padding: 8px;

      .item-inner {
        border: 1px solid $darkGray;
        height: 270px;
  
        .img-item {
          width: 100%;
        }
        
        .title-wrapper {
          padding: 1rem 1rem 0;
          
          .titlee {
            font-size: 0.9rem;
            color: $black !important;
          }

          p {
            color: $black;
          }
        } 
        
      }
    }
  }
}
  
@media screen and (max-width: 900px) { 
  .related-videos {
    padding: 0 0.5rem;
  
    .content-related-videos {
      padding: 20px 0;
     
      .header-related-videos {
        padding: 0;
        width: 100%;
      }
      
      .content-related {
        width: 100%;
      }
  
      .item {
        padding: 0rem;
        margin-bottom: 1rem;
      }
    }
  }
}


.download-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px !important;
  -webkit-filter: drop-shadow(5px 5px 5px $darkGray);
  filter: drop-shadow(5px 5px 5px $darkGray);
}

.small {
  width: 40px !important;
}

.medium {
  width: 60px !important;
}

.time {
  font-size: 1rem;
  color: #4cb4c4;
  padding: 0.2rem 1rem;
  text-align: center;
  font-size: 14px;
  position: relative;
}

.time:before {
  font-family: "FontAwesome";
  content: "\f017";
  left: -0px;
  position: absolute;
}

.read-more {
  border: 1px solid $darkBlue;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
}
