@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../fonts/HelveticaNeue-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../fonts/HelveticaNeue-Light.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('../fonts/HelveticaNeue-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue-Regular';
    src: url('../fonts/HelveticaNeue-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue-RegularItalic';
    src: url('../fonts/HelveticaNeue-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: url('../fonts/HelveticaNeue-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue-Ultralight';
    src: url('../fonts/HelveticaNeue-Ultralight.otf') format('opentype');
}

