.lg-outer {
  z-index: 2000 !important;
  background-color: black;
}

@media (min-width: 992px){
  .modal-lg {
    max-width: 1020px !important;
    min-width: 1020px !important;
  }
}

.gallery {
  padding: 0 1rem;  

  .content-feature-gallery {
    background-color: $lighGray;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 87%;
      margin: 0 auto;
      padding: 80px 0 40px;
  
      .left {
        width: 66%;
        background-color: white;
        
        img {
          width: 100%;
        }
        
      }
  
      .right {
        width: 34%;
        background-color: white;
        padding: 1rem;
        padding-left: 2rem;
        border: 1px solid $darkGray;
        
        h5 {
          margin-bottom: 20px;
        }

        .top {
          margin-bottom: 1rem;
          border: 1px solid $darkGray;
          background-color: $white;
          padding-bottom: 1em;

          img {
            width: 100%;
          }

          .title {
            font-weight: 500;
            padding: 0 1rem;
            margin-top: 1em;
            color: $darkGray2;
          }

          .description {
            padding: 0 1rem;
          }

        }   
      }
    }
  }
}


.photo_collection {
  padding: 0 1rem;

  .content-photo_collection {
    padding: 20px 0;

    .header-photo {
      margin-left: 34px;
      margin: 20px auto;
      width: 87%;
    }

    .content-video {
      width: 88%;
      margin: 0 auto;

      .item {
        padding: 0 0.5rem 0.5rem;
        margin-bottom: 1.25em;
        
        .inner-item {
          border: 1px solid $darkGray;

          .img-item {
            width : 100%;
          }
  
          .item-content {
            padding: 1rem 1rem 0;
            position: relative;
  
            .title {
              font-weight: 500;
              font-size: 14px;
              color: $darkGray2;
            }
  
            .description {
              color: $darkGray2;
            }
  
            .date {
              margin: 0;
            }
  
          }
        }
      }
    }
  }
}
  

@media screen and (max-width: 900px) {
  .gallery {
    padding: 0 0.5rem;  
  
    .content-feature-gallery {
  
      .content {
        flex-direction: column;
        width: 100%;
        padding: 1rem 0;
    
        .left {
          width: 100%;
          
        }
    
        .right {
          width: 100%;
          padding: 1rem;

          .sub-header {
            font-size: 1.25rem;
          }

          p {
            margin-bottom: 0.5rem;
          }

        }
      }
    }
  }
  
  
  .photo_collection {
    padding: 0 0.5rem;
  
    .content-photo_collection {
      padding: 20px 0 0;
  
      .header-photo {
        padding: 0.5rem;
        width: 100%;
        font-size: 1.25rem;
      }
  
      .content-video {
        width: 100%;
  
        .item {
          padding: 0;
          margin-bottom: 1.25rem;
          
          .inner-item {
            border: 1px solid $darkGray;
            height: 300px;
            overflow: hidden;
          }
        }
      }
    }
  }
}
  
  