.featur-news {
  padding: 0 1rem;  

  .content-feature-news {
    background-color: $lighGray;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      width: 87%;
      margin: 0 auto;
      padding: 80px 0 40px;
  
      .left {
        width: 66%;
        .img-item {
          width: 100%;
        }
      }
  
      .right {
        width: 33%;
        padding: 20px;
        padding-left: 2.5rem;
        position: relative;
        background-color: $white;
        border-bottom: 2px solid $darkBlue;
  
        .header-feature-news {
          margin-top: 0.5rem;
          color: $darkGray2;
          margin-bottom: 1rem;
        }
  
        .title {
          font-size: 20px;
          margin-top: 20px;
          font-weight: 500;
        }
  
        p {
          color: $darkGray2;
        }
  
        .description {
          color: $darkGray2;
          margin-bottom: 20px;
        }
      }
    }
  } 
}


.news-wrapper-detail {
  padding: 0 1rem;

  .content-news-wrapper {
    padding: 20px 0;

    .header-news {
      margin-left: 34px;
      margin: 20px auto;
      width: 87%;
    }

    .content-news {
      width: 88%;
      margin: 0 auto;

      .item {
        padding: 0 0.5em;
        margin-bottom: 1.25em;
        
        .inner-item {
          border: 1px solid $darkGray;

          .img-item {
            width : 100%;
          }
  
          .item-content {
            padding: 1rem;
            position: relative;
  
            .title {
              font-weight: 500;
              font-size: 14px;
            }
  
            .description {
              color: $darkGray2;
            }
  
            .date {
              margin: 0;
            }
  
            .read-more {
              position: absolute;
              right: 1rem;
              bottom: 1rem;
              color: $darkBlue;
            }
          }
        }
      }

      .item-big {
        width: 87%;
        margin: 0 auto 1.25em;
        padding: 0 0.5em;
        
        .inner-item {
          border: 1px solid $darkGray;
          display: flex;
          flex-direction: row;
          justify-content: stretch;

          .left {
            width: 66%;
            .img-item {
              width: 100%;
            }
            border-bottom: 2px solid $lightBule;
          }
      
          .right {
            width: 33%;
            padding: 20px;
            padding-left: 50px;
            position: relative;
      
            .header-feature-news {
              margin-top: 20px;
              color: $darkGray2;
              margin-bottom: 32px;
            }
      
            .title {
              font-size: 20px;
              margin-top: 20px;
              font-weight: 500;
              letter-spacing: 2px;
            }
      
            p {
              color: $darkGray2;
            }
      
            .description {
              color: $darkGray2;
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    .load_more_wrapper {
      width: 87%;
      text-align: center;
      margin: 0 auto;
      margin-top: 1rem;

    }
    
  }
}

// @media screen and (max-width: 1023px) { 
//   .featur-news { 
//     padding: 1rem 0.5rem;

//     .content-feature-news {
//       .content {
//         flex-direction: column;
//         width: 100%;
//         padding: 1rem;
    
//         .left {
//           width: 100%;
//         }
    
//         .right {
//           width: 100%;
//           padding: 0rem;
//           position: relative;
    
//           .header-feature-news {
//             margin-top: 1rem 0;
//           }
    
//           .title {
//             font-size: 1.25rem;
//             letter-spacing: 1px;
//           }
//         }
//       }
//     } 
//   }
  
  
//   .news-wrapper-detail {
//     padding: 0 0.5rem;
  
//     .content-news-wrapper {
//       padding: 0;
  
//       .header-news {
//         margin-left: 34px;
//         max-width: 100%;
//       }
  
//       .content-news {
//         width: 100%;
//         margin: 0 auto;
  
//         .item {
//           padding: 0 0.5em;
//           margin-bottom: 1.25em;
          
//           .inner-item {
//             min-height: 0;
//             height: 100%;

//             .img-item {
            
//             }
    
//             .item-content {
            
//               .title {
//               }
    
//               .description {
//               }
    
//               .date {
//               }
    
//               .read-more {
//                 position: absolute;
//                 bottom: 0;
//                 font-size: 14px;
//               }
//             }
//           }
//         }
  
//         .item-big {
//           width: 100%;
//           margin: 0;
//           padding: 0;
          
//           .inner-item {
//             flex-direction: column;
//             border-bottom: 2px solid $lightBule;
//             margin: 0 0.5em 1.25rem;
            
//             .left {
//               width: 100%;
//             }
        
//             .right {
//               width: 100%;
//               padding: 1rem;
//               position: relative;
        
//               .header-feature-news {
//                 margin-top: 20px;
//                 color: $darkGray2;
//                 margin-bottom: 32px;
//               }
        
//               .title {
//                 font-size: 20px;
//                 margin-top: 20px;
//                 font-weight: 500;
//                 letter-spacing: 2px;
//               }
        
//               p {
//                 color: $darkGray2;
//               }
        
//               .description {
//                 color: $darkGray2;
//                 margin-bottom: 20px;
//               }
//             }
//           }
//         }
//       }

//     }
//   }
// }

@media screen and (max-width: 900px) {
  .featur-news { 
    padding: 1rem 0.5rem;

    .content-feature-news {
      .content {
        flex-direction: column;
        width: 100%;
        padding: 0 0 40px;
    
        .left {
          width: 100%;
        }
    
        .right {
          width: 100%;
          padding: 0rem;
          position: relative;
          padding: 1rem;
    
          .header-feature-news {
            margin-top: 1rem 0;
          }
    
          .title {
            font-size: 1.25rem;
            letter-spacing: 1px;
          }
        }
      }
    } 
  }
  
  
  .news-wrapper-detail {
    padding: 0 0.5rem;
  
    .content-news-wrapper {
      padding: 0;
  
      .header-news {
        margin-left: 34px;
        width: 100%;
      }
  
      .content-news {
        width: 100%;
        margin: 0 auto;
  
        .item {
          padding: 0;
          margin-bottom: 1.25em;
          
          .inner-item {
            min-height: 0;
            height: 100%;

            .img-item {
            
            }
    
            .item-content {
            
              .title {
              }
    
              .description {
              }
    
              .date {
              }
    
              .read-more {
                position: absolute;
                bottom: 0.5rem;
                font-size: 14px;
              }
            }
          }
        }
  
        .item-big {
          width: 100%;
          margin: 0;
          padding: 0;
          
          .inner-item {
            flex-direction: column;
            border-bottom: 2px solid $lightBule;
            margin-bottom: 1.25rem;
            
            .left {
              width: 100%;
            }
        
            .right {
              width: 100%;
              padding: 1rem;
              position: relative;
        
              .header-feature-news {
                margin-top: 20px;
                color: $darkGray2;
                margin-bottom: 32px;
              }
        
              .title {
                font-size: 20px;
                margin-top: 20px;
                font-weight: 500;
                letter-spacing: 2px;
              }
        
              p {
                color: $darkGray2;
              }
        
              .description {
                color: $darkGray2;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }

    .load_more_wrapper {

    }
  }

}