

#layout {
  padding: 1rem;
}

.news-detail {
  padding: 0 1rem;  

  .content-feature-news {
    background-color: $lighGray;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 87%;
      margin: 0 auto;
      padding: 80px 0 40px;
  
      .left {
        width: 66%;
        background-color: white;

        .news-header {
          padding: 1rem;
          position: relative;
          font-weight: 500;
        }
        
        img {
          width: 100%;
        }
        

        .news {
          display: flex;
          padding: 1rem;

          .news-left {
            width: 30%;
            padding: 1rem;

            .profile {
              width: 4em;
              height: 4em;
              border-radius: 50%;
            }

            .molly {
              font-weight: 500;
              margin-top: 1rem;
              line-height: 27px;
            }

            .staff {
              margin-top: 10px;
              line-height: 22px;
            }

            .tags {
              margin-top: 10px;
              line-height: 22px;
            }

            .button {
              display: inline-block;
              margin-bottom: 1rem;
            }
          }

          .news-right {
            flex: 1;
            padding: 1rem;
            
            img {
              max-width: 70%;
              margin: 8px 0;
            }
          }
        }
        .comments {
          margin-top: 1rem;
          padding: 1rem;
        }
      }
  
      .right {
        width: 32%;
        h5 {
          margin-bottom: 20px;
        }

        .top {
          margin-bottom: 1rem;
          border: 1px solid $darkGray;
          background-color: $white;
          padding-bottom: 1em;

          img {
            width: 100%;
          }

          .title {
            font-weight: 500;
            padding: 0 1rem;
            margin-top: 1em;
          }

          .description {
            padding: 0 1rem;
          }

          .read-more {
            margin-left: 1rem;
          }

        }   
      }
    }
  }
}

@media screen and (max-width: 900px) { 
  .news-detail {
    padding: 0 0.5rem;  
  
    .content-feature-news {
     
      .content {
        flex-direction: column;
        width: 100%;
        padding: 0;
    
        .left {
          width: 100%;
  
          .news-header {
            padding: 0.5rem;
          }
          
          .news {
            padding: 0.5rem;
            flex-direction: column-reverse;
  
            .news-left {
              width: 100%;
              padding: 0.5rem;
            }

            .news-right {
              padding: 0.5rem;
            }
          }
        }
    
        .right {
          width: 100%;
          
          .top {
            margin-bottom: 1rem;
            border: 1px solid $darkGray;
            background-color: $white;
            padding-bottom: 1em;
  
            img {
              width: 100%;
            }
  
            .title {
              font-weight: 500;
              padding: 0 1rem;
              margin-top: 1em;
            }
  
            .description {
              padding: 0 1rem;
            }

            .read-more {
              margin-left: 0.5rem;
            }
  
          }   
        }
      }
    }
  }
}
