.publication {
  padding: 0 1rem;  

  .content-publication {
    background-color: $lighGray;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      width: 87%;
      margin: 0 auto;
      padding: 80px 0 40px;

      h3 {
        margin-bottom: 1rem;
      }

      h4 {
        margin-bottom: 20px;
      }

      .left {
        width: 250px;
      }

      .right {
        flex: 1;
        margin-left: 20px;

        .pub-item {
          background-color: $white;
          border: 1px solid $gray;
          padding: 20px;
          display: flex;
          flex-direction: row;
          border-bottom: 2px solid $darkBlue;
          margin-bottom: 20px;

          .img-wrapper {
            margin-right: 20px;
            img {
              width: 100px;
            }
          }

          .text {
            color: $darkGray2 !important;
            h5, p {
              color: $darkGray2 !important;
            }
          }
        }
      }
    }
  } 
}

@media screen and (max-width: 900px) {
  .publication {
    padding: 0 0.5rem;

    .content-publication {
  
      .content {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 0;
  
        .left {
          width: 100%;

          .filter-by {
            font-size: 1.25rem;
            margin-top: 2rem;
            text-align: center;
          }
        }
  
        .right {
          flex: 1;
          margin: 0;
          width: 100%;

          .all-pub {
            font-size: 1.20rem;
            margin-top: 2.5rem;
            text-align: center;
          }
  
          .pub-item {
            padding: 1rem;
            flex-direction: column;
            margin-bottom: 1rem;
  
            .img-wrapper {
              margin: 0 0 1rem;
              img {
                width: 100px;
              }
            }

          }
        }
      }
    } 
  }
}

