#slider-animation{
  display: flex;
  min-height: 400px;
  width: 100%;

	.carousel-item img{
    width:100%;
	}

	.text-box {
		position: absolute;
		top: 55%;
		left: 7%;
		color: #000;
    transform: translateY(-50%);
    
    h2 {
      width:100%; 
      font-size: 2.25;
      line-height: 40px;
      margin-top: 40px;
      margin-bottom: 40px;
    }		
    
    .button-wrapper {
      margin-top: 20px;
      font-size: 1rem;
      color: $white;
    }
  }
  

  h2, p, h5{
    color:#fff;
  }

  .slider-arrow {
    display: flex; 
    position: absolute; 
    bottom: 60px; 
    right: 60px;

    a {
      color: white;
      font-size: 40px;
      background-color: #5a59596b;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
    }

    a:hover {
      background-color: $lightBule;
      font-size: 40px;
    }

    .prev {
      padding: 20px;
    }

    .next {
      padding: 20px;
    }
  }
}


@media screen and (max-width: 900px) {
  #slider-animation{
    display: flex;
    min-height: 300px;
    width: 100%;

    .carousel-item img{
      width:100%;
    }

    .text-box {
      top: 40%;
      left: 0rem;
      padding: 1rem;
      color: #000;
      transform: translateY(-50%);
      
      h2 {
        width:100%; 
        font-size: 2rem;
        line-height: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
      }		
      
      .button-wrapper {
        margin-top: 20px;
        a {
          margin-bottom: 1rem;
        }
        
      }
    }
    

    h2, p{
      color:#fff;
    } 
}

}
