// color variable
$darkBlue: #4cb4c4;
$lightBule: #64bccc;
$gray: #e7e4e4;
$lighGray: #fafafa;
$darkGray: #efefef;
$darkGray2: #555555;
$white: #ffffff;
$purple: #4b087a;
$black: #000000;

@import 'component.scss';
@import 'fonts.scss';
@import 'search.scss';
@import 'slider.scss';
@import 'campaign.scss';

body {
    padding: 0;
    margin: 0;

    a, p {
      font-size: 14px;
      font-family: 'HelveticaNeue-Regular';
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'HelveticaNeue-Medium';
    }

}

section {
  float: left; 
  width: 100%;
  padding: 0 1rem;
}

@media screen and (max-width: 900px) {
  section {
    padding: 0;
  }
}

.top-footer {
  background-color: $gray;
  border-bottom: 2px solid #efefef;

  .header-wrapper {
    display: flex;
    width: 87%;
    margin: 0 auto;
  
    p {
      margin: 0;
    }
  
    .header-left {
      background-color: $darkBlue; 
      flex: 1;
      text-align: center;
      padding: 10px 0;
    }
  
    .header-middle {
      width: 60%;
      display: flex;
      padding: 10px 0;
      margin-left: 15px;
      
      p {
        font-size: 13px;
        margin-left: 10px;
        color: $darkGray2;
        
        span {
          color: $lightBule;
        }
      }
    }
  
    .header-right {
      flex: 1;
      padding: 10px 0;
      align-items: center;
      display: flex;
      justify-content: space-around;
      a {
        font-size: 1rem;
        color: $darkGray2;
      }
    }  
  }  

  @media screen and (max-width: 900px) {
    .header-wrapper {
      flex-direction: column;
      width: 100%;
      padding-top: 1rem;
      
      .header-middle { 
        display: none;
      }

      .header-right { 
        display: none;
      }
    }
  }
}

.menuss {
  background-color: $white;

  .menus-wrapper {
    display: flex;
    width: 87%;
    margin: 0 auto;
  
    .menus-left {
      background-color: $lightBule; 
      flex: 1;
      text-align: center;
      position: relative;

      .raoul {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
      }
    }
  
    .menus-middle {
      width: 60%;
      display: flex;
      padding: 20px 0;
      margin-left: 15px;
      
      a {
        font-size: 14px;
        margin-left: 15px;
        text-decoration: none;
        color: $darkGray2;
      }
    }
  
    .menus-right {
      flex: 1;
      padding: 10px 0;

      p {
        font-size: 13px;
      }

      form {
        border: 1px solid $darkGray;
        border-radius: 50px;
        padding: 4px 8px;
        display: flex;
        flex-direction: row;

        input {
          margin: 0;
          border: none;
          border-radius: 50px;
          width: 100%;
        }
        
        button {
          border: none;
          background-color: white;
        }
      }
    }  
  }  

}

@media screen and (max-width: 900px) {
  .menuss {
    padding: 1rem 0.5rem;
    background-color: $darkGray;
    .menus-wrapper {
      flex-direction: column;
      width: 100%;

      .menus-left {
        background-color: $lightBule; 
        flex: 1;
        text-align: center;
        position: relative;

        .raoul {
          position: relative;
        }
      }

      .menus-middle {
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding-top: 10px;
        a {
          margin: 4px 0;
          background-color: $lightBule;
          padding: 10px 0;
          text-align: center;
          color: white;
          font-weight: bold;
        }
      }

      .menus-right {  
        form {
          border-radius: 50px;
          padding: 0;
          
          input {
            border-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            
            padding: 0.5rem;
            width: 100%;
          }
          
          button {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding: 0.5rem 1rem;
            border: none;
            background-color: white;
          }
        }
      }  
    }
  }
}


.who-we-are {
  position: relative;
  padding: 1rem 0;

  .who-we-are-wrapper {
    background-color: $lighGray;
    padding: 40px 0;

    .who-we-are-content {
      width: 87%;
      margin: 0 auto;

      .who-we-are-left {
        

        .big-title {
          font-size: 1.1em;
          line-height: 1.4rem;

          mark {
            background-color: $lightBule;
            font-style: italic;
            color: white;
          }
        }
  
        .description {
          margin: 20px 0 0 ; 
          font-size: 1.1rem;
        }

        .description-2 {
          font-size: 1.1rem;
          margin: 0;
          margin-left: 1.5rem;
        }

        .button-wrapper {
          align-items: center; 
          display: flex;

          .socmed-wrapper {
            margin-left: 20px;

            a {
              font-size: 20px;
              margin-left: 2rem;
            }
          }
        }
      }

      .who-we-are-right {
        text-align: center;
        img {
          max-width: 90%; 
          margin-bottom: 2rem;
        }
      }
    }
  }


}

@media screen and (max-width: 900px) {
  .who-we-are {
    .who-we-are-wrapper {
      .who-we-are-content {
        width: 100%;
        .who-we-are-left { 
          max-width: 100%;
          .button-wrapper {
            .socmed-wrapper {
              a {
                margin-left: 4px;
              }
            }
          }
        }

        .who-we-are-right {
          margin-top: 4rem;
          img {
            max-width: 100%; 
          }
        }
      }
    }
  
  }
}


@media screen and (max-width: 900px) {
  .who-we-are {
    .who-we-are-wrapper {
      .who-we-are-content {
        .who-we-are-content {
          .who-we-are-left { 
          }
        }
      }
    }
  
    .whowearebg {
      position: initial;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      display: block;
    }  
  }
}



.video-wrapper {
  padding: 0 1rem;

  .content-video-wrapper {
    background-color: $lighGray;
    padding: 20px 0;

    .header-video {
      width: 87%;
      margin: 20px auto;
    }

    .content-video {
      margin: 0; // override bootstrap
      padding: 0; // override bootstrap
      flex-direction: "row";
      display: flex;
      justify-content: space-between;
      width: 87%;
      margin: 0 auto;
      
    }

    .item {
      background-color: $white;
      width: 49%;
      border: 1px solid $darkGray;
  
      .img-item {
        width: 100%;
      }
      
      .title-wrapper{
        min-height: 55px;
  
        .title {
          font-weight: 500;
          padding: 0 1rem;
          margin: 1rem 0 0.5rem;
          font-size: 0.9rem;
        }
      }
      .description {
        padding: 0 1rem;
      }
    }

  }
}

@media screen and (max-width: 900px) {
  .video-wrapper {
    padding: 0 0.5rem;
  
    .content-video-wrapper {
      padding: 20px 0 0;
  
      .header-video {
        width: 100%;
        margin: 20px auto;
      }
  
      .content-video {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
      }
  
      .item {
        width: 100%;
        margin-bottom: 2em;
    
        .img-item {
          width: 100%;
        }
    
        .title {
          font-size: 1rem;
          margin-left: 1rem;
        }

        .description {
          // margin-left: 0rem;
        }
      }
    }
  }
}

.news-wrapper {
  padding: 0 1rem;

  .content-news-wrapper {
    background-color: $lighGray;
    padding: 20px 0 4rem;

    .header-news {
      margin-left: 34px;
      margin: 20px auto;
      width: 87%;
    }

    .content-news {
      margin: 0; // override bootstrap
      padding: 0; // override bootstrap
      flex-direction: "row";
      display: flex;
      justify-content: space-between;
      width: 87%;
      margin: 0 auto;

      .item {
        background-color: $white;
        width: 32%;
        border: 1px solid $darkGray;

        .img-item {
          width : 100%;
        }

        .item-content {
          padding: 1rem;
          position: relative;

          .title {
            font-weight: 500;
            font-size: 14px;
          }

          .description {
            color: $darkGray2;
          }

          .date {
            margin: 0;
          }

          .read-more {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            color: $darkBlue;
          }
        }
      
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .news-wrapper {
    padding: 0 0.5rem;

    .content-news-wrapper {
      margin-top: 1rem;
      padding: 20px 0 20px;
    
      .header-news {
        margin: 20px auto;
      }
  
      .content-news {
        flex-direction: column;
        display: flex;
        width: 100%;
  
        .item {
          width: 100%;
          margin-bottom: 1em;        
        }
      }
    }
  }
}


.featur-video {
  padding: 0 1rem;  

  .content-feature-video {
    background-color: #fafafa;

    .content {
      display: flex;
      flex-direction: row;
      padding: 20px 0;
      justify-content: stretch;
      width: 87%;
      margin: 0 auto;
  
      .left {
        width: 60%;
        .img-item {
          width: 100%;
          height: 100%;
        }
      }
  
      .right {
        width: 40%;
        background-color: $white;
        padding: 20px;
        padding-left: 2rem;
        border: 1px solid $darkGray;
        border-bottom: 4px solid $darkBlue;
        position: relative;
  
        .header-feature-video {
          margin-top: 0.5rem;
          color: $darkGray2;
        }
  
        .title {
          font-size: 20px;
          margin-top: 20px;
          font-weight: 500;
          letter-spacing: 2px;
        }
  
        p {
          color: $darkGray2;
        }
  
        .description {
          color: $darkGray2;
          padding-bottom: 20px;
        }
  
        .date {
          position: absolute;
          bottom: 20px;
          left: 2rem;
          margin: 0;
        }
  
        .share {
          position: absolute;
          bottom: 20px;
          right: 20px;
          font-size: 1rem;
        }
  
      }
    }
  } 
}


@media screen and (max-width: 900px) {
  .featur-video {
    padding: 0 0.5rem;

    .content-feature-video {
    
      .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    
        .left {
          width: 100%;
        }
    
        .right {
          width: 100%;
          padding: 1rem;
          border: 1px solid $darkGray2;
        }
      }
    } 
  }
}



.rwi-link {
  padding: 50px 1rem;

  .content-rwi-link {
    margin: 0 auto;

    .content {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      width: 87%;
      margin: 0 auto;
  

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .img-item {
          margin-bottom: 10px;
        }
      }
    }
  }
}


@media screen and (max-width: 900px) {
  .rwi-link {
   
    .content-rwi-link {
      margin: 0 auto;
  
      .content {
        flex-direction: column;
        width: 100%;
  
        .item {
          margin-bottom: 1.25rem;
          background-color: $lighGray;
          padding: 1.5rem;
        }
      }
    }
  }
}

.photos {
  position: relative;
  .icon-cam {
    width: 80px;
    height: 80px;
    margin-right: 40px;
  }

  .see-all {
    display: flex;
    flex-direction: "row";
    padding: 70px 0;
    width: 85%;
    margin: 0 auto;

    .thousand-text {
      text-decoration: underline; 
      text-decoration-color: $darkBlue;
    }
  }

  .join-movement {
    background-color: $darkBlue;
    color: white;
    .content-movement {
      padding: 50px 0;
      width: 85%;
      margin: 0 auto;
    }
  }

  .people-photos {
    position: absolute;
    bottom: 0;
    right: 1rem;
    max-width: 50%;
    display: block;
  }

  .people-photos-mobile {
    display: none;
  }

}

@media screen and (max-width: 900px) {
  .photos {
    padding: 0 0.5rem;
    .icon-cam {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
  
    .see-all {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 0;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      align-items: center;
    }
  
    .join-movement {
      .content-movement {
        padding: 1rem;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
    }
  
    .people-photos {
      display: none;
    }

    .people-photos-mobile {
      display: block;
    }
  }
  
}


.footer {
  padding: 0;
  margin: 0;
  margin-top: 20px;

  .newsletter {
    background-color: $purple;

    .wrapper {
      width: 83%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      
      .content {
        color: white;
        width: 40%;
        padding-top: 55px;
  
        h3 {
          margin-bottom: 20px;
        }
  
        form {
          width: 70%;
          margin-top: 20px;
          border-radius: 50px;
          background-color: $purple;
          border: 1px solid white;
          display: flex;

          input {
            border: none;
            background-color: $purple;
            border-radius: 50px;
            color: white;
            flex: 1;
            padding: 4px 8px;
          }

          button {
            border: none;
            background-color: white;
            border-radius: 50px;
            width: 120px;
            text-align: center;
            z-index: 10;
            font-size: 0.9rem;
          }
        }
      }
    }

    // @media screen and (max-width: 1023px) {
    //   .wrapper {
    //     width: 100%;
    //     padding-left: 2rem;

    //     .content {
    //       width: 50%;
    //       padding-top: 30px;
    //       padding-bottom: 30px;
    //     }
    //   }
      
    //   img {
    //     max-width: 50%;
    //   }
    // }

    @media screen and (max-width: 900px) {
      .wrapper{
        flex-direction: column;
        width: 100%;
        padding: 1rem 0.6rem;

        .content {
          width: 100%;
          margin-bottom: 20px;
        }
      }

      img {
        max-width: 100%;
      }
    }
    
  }

  .footer-menu {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 0 auto;
    padding: 40px 0;

    .item {
      padding: 1rem;
      h4 {
        font-size: 1rem;
        color: $darkBlue;
      }
    }

    .item:first-of-type {
      width: 20%;  
      padding-left: 0;
    }

    .item:last-child {
      padding-right: 0;
    }

  }

  @media screen and (max-width: 900px) {
    .footer-menu {
      width: 100%;
      flex-direction: column;
      padding: 40px 0 0;

      .item {
        padding: 0 0.5rem;
      }

      .item:first-of-type {
        width: 100%;  
        padding: 0 0.5rem;
        img {
          width: 60%;
        }
      }
    }
  }



  .footer-about{ 
    width: 83%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .item {
      flex: 1;
      padding: 1rem;
      color: $darkGray2;
    }

    .item:first-of-type {
      padding-left: 0;
    }

    .item:last-child {
      padding-right: 0;
    }
  }

  .copyright{ 
    width: 83%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  @media screen and (max-width: 900px) {
    .footer-about {
      width: 100%;
      flex-direction: column;

      .item {
        padding: 1rem 0.5rem;
      }
  
      .item:first-of-type {
        padding: 1rem 0.5rem;
      }
  
      .item:last-child {
        padding: 1rem 0.5rem;
      }
    }

    .copyright{ 
      width: 100%;
      padding: 1rem;
    }
  }
}

.bottom-footer {
  padding: 0;
  margin-top: 40px;

  .bottom-wrapper {
    background-color: $gray;
    padding: 10px 0;
  
    .bottom {
      width: 83%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      p {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .bottom-footer {

    .bottom-wrapper {
    
      .bottom {
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        p {
          margin-bottom: 1rem;
        }
        a {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@import 'news.scss';
@import 'publications.scss';
@import 'videos.scss';
@import 'news-detail.scss';
@import 'video-detail.scss';
@import 'gallery.scss';
