@charset "UTF-8";
a {
  text-decoration: none;
  color: #64bccc;
}

a:hover {
  text-decoration: none;
  color: #4cb4c4;
}

.button {
  border: 1px solid #4cb4c4;
  color: #64bccc;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 32px;
  display: inline-block;
}

.button-white {
  background-color: #ffffff;
}

.button-blue {
  color: #ffffff;
  background-color: #64bccc;
}

.button:hover {
  border: 1px solid #64bccc;
  color: #64bccc;
  text-decoration: none;
  background-color: #fafafa;
}

.sub-header {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.read-more {
  margin-top: 1rem;
  color: #4cb4c4;
  text-decoration: none;
  font-size: 0.6rem;
}

.related-videos {
  padding: 0 1rem;
}
.related-videos .content-related-videos {
  padding: 20px 0;
}
.related-videos .content-related-videos .header-related-videos {
  margin-left: 34px;
  margin: 20px auto;
  width: 87%;
  text-align: center;
}
.related-videos .content-related-videos .content-related {
  width: 88%;
  margin: 0 auto;
}
.related-videos .content-related-videos .item {
  padding-bottom: 20;
  padding: 8px;
}
.related-videos .content-related-videos .item .item-inner {
  border: 1px solid #efefef;
  height: 270px;
}
.related-videos .content-related-videos .item .item-inner .img-item {
  width: 100%;
}
.related-videos .content-related-videos .item .item-inner .title-wrapper {
  padding: 1rem 1rem 0;
}
.related-videos .content-related-videos .item .item-inner .title-wrapper .titlee {
  font-size: 0.9rem;
  color: #000000 !important;
}
.related-videos .content-related-videos .item .item-inner .title-wrapper p {
  color: #000000;
}

@media screen and (max-width: 900px) {
  .related-videos {
    padding: 0 0.5rem;
  }
  .related-videos .content-related-videos {
    padding: 20px 0;
  }
  .related-videos .content-related-videos .header-related-videos {
    padding: 0;
    width: 100%;
  }
  .related-videos .content-related-videos .content-related {
    width: 100%;
  }
  .related-videos .content-related-videos .item {
    padding: 0rem;
    margin-bottom: 1rem;
  }
}
.download-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px !important;
  -webkit-filter: drop-shadow(5px 5px 5px #efefef);
  filter: drop-shadow(5px 5px 5px #efefef);
}

.small {
  width: 40px !important;
}

.medium {
  width: 60px !important;
}

.time {
  font-size: 1rem;
  color: #4cb4c4;
  padding: 0.2rem 1rem;
  text-align: center;
  font-size: 14px;
  position: relative;
}

.time:before {
  font-family: "FontAwesome";
  content: "";
  left: 0px;
  position: absolute;
}

.read-more {
  border: 1px solid #4cb4c4;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/HelveticaNeue-Bold.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("../fonts/HelveticaNeue-Light.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue-Medium";
  src: url("../fonts/HelveticaNeue-Medium.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue-Regular";
  src: url("../fonts/HelveticaNeue-Regular.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue-RegularItalic";
  src: url("../fonts/HelveticaNeue-RegularItalic.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url("../fonts/HelveticaNeue-Thin.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue-Ultralight";
  src: url("../fonts/HelveticaNeue-Ultralight.otf") format("opentype");
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 9px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

#slider-animation {
  display: flex;
  min-height: 400px;
  width: 100%;
}
#slider-animation .carousel-item img {
  width: 100%;
}
#slider-animation .text-box {
  position: absolute;
  top: 55%;
  left: 7%;
  color: #000;
  transform: translateY(-50%);
}
#slider-animation .text-box h2 {
  width: 100%;
  font-size: 2.25;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#slider-animation .text-box .button-wrapper {
  margin-top: 20px;
  font-size: 1rem;
  color: #ffffff;
}
#slider-animation h2, #slider-animation p, #slider-animation h5 {
  color: #fff;
}
#slider-animation .slider-arrow {
  display: flex;
  position: absolute;
  bottom: 60px;
  right: 60px;
}
#slider-animation .slider-arrow a {
  color: white;
  font-size: 40px;
  background-color: #5a59596b;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
}
#slider-animation .slider-arrow a:hover {
  background-color: #64bccc;
  font-size: 40px;
}
#slider-animation .slider-arrow .prev {
  padding: 20px;
}
#slider-animation .slider-arrow .next {
  padding: 20px;
}

@media screen and (max-width: 900px) {
  #slider-animation {
    display: flex;
    min-height: 300px;
    width: 100%;
  }
  #slider-animation .carousel-item img {
    width: 100%;
  }
  #slider-animation .text-box {
    top: 40%;
    left: 0rem;
    padding: 1rem;
    color: #000;
    transform: translateY(-50%);
  }
  #slider-animation .text-box h2 {
    width: 100%;
    font-size: 2rem;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #slider-animation .text-box .button-wrapper {
    margin-top: 20px;
  }
  #slider-animation .text-box .button-wrapper a {
    margin-bottom: 1rem;
  }
  #slider-animation h2, #slider-animation p {
    color: #fff;
  }
}
.campaign {
  background-color: #fafafa;
  padding-top: 100px;
}
.campaign .top-campaign {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid white;
}
.campaign .top-campaign .item {
  background-size: cover;
  min-height: 280px;
  width: 50%;
}
.campaign .top-campaign .left {
  color: white;
  padding: 40px;
  position: relative;
}
.campaign .top-campaign .left .link {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  color: #ffffff;
  font-size: 1.5rem;
}
.campaign .campaign-video {
  width: 100%;
}
.campaign .campaign-video .campaign-wrapper {
  height: 600px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.campaign .campaign-video .campaign-wrapper .inner-wrapper {
  display: flex;
  width: 100%;
  flex: 1;
}
.campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box {
  width: 85%;
  color: white;
  align-items: center;
  display: flex;
  margin: 0 auto;
}
.campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box .row {
  width: 100%;
}
.campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box .row .left {
  align-self: center;
  justify-content: center;
}
.campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box .row .right {
  display: flex;
  justify-content: center;
}
.campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box .row .right .button-play {
  align-self: center;
  width: 100px;
}
.campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box .row .right .button-play img {
  width: 110px;
  -webkit-filter: drop-shadow(5px 5px 5px #efefef);
  filter: drop-shadow(5px 5px 5px #efefef);
}
.campaign .information {
  padding: 1rem;
  padding-left: 40px;
}

@media screen and (max-width: 900px) {
  .campaign {
    padding: 1rem 0;
  }
  .campaign .top-campaign {
    flex-direction: column;
  }
  .campaign .top-campaign .item {
    background-size: cover;
    min-height: 280px;
    width: 100%;
  }
  .campaign .top-campaign .left {
    color: white;
  }
  .campaign .campaign-video {
    width: 100%;
  }
  .campaign .campaign-video .campaign-wrapper {
    min-height: 600px;
    height: 100%;
  }
  .campaign .campaign-video .campaign-wrapper .inner-wrapper {
    flex-direction: column;
    flex: 1;
    padding: 1rem;
  }
  .campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box .row {
    width: 100%;
  }
  .campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box .row .left {
    align-self: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  .campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box .row .right {
    padding: 2.5rem 0 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box .row .right .button-play {
    width: 100%;
  }
  .campaign .campaign-video .campaign-wrapper .inner-wrapper .text-box .row .right .button-play img {
    width: 80px;
    width: 80px;
  }
  .campaign .information {
    padding: 1rem;
  }
}
body {
  padding: 0;
  margin: 0;
}
body a, body p {
  font-size: 14px;
  font-family: "HelveticaNeue-Regular";
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "HelveticaNeue-Medium";
}

section {
  float: left;
  width: 100%;
  padding: 0 1rem;
}

@media screen and (max-width: 900px) {
  section {
    padding: 0;
  }
}
.top-footer {
  background-color: #e7e4e4;
  border-bottom: 2px solid #efefef;
}
.top-footer .header-wrapper {
  display: flex;
  width: 87%;
  margin: 0 auto;
}
.top-footer .header-wrapper p {
  margin: 0;
}
.top-footer .header-wrapper .header-left {
  background-color: #4cb4c4;
  flex: 1;
  text-align: center;
  padding: 10px 0;
}
.top-footer .header-wrapper .header-middle {
  width: 60%;
  display: flex;
  padding: 10px 0;
  margin-left: 15px;
}
.top-footer .header-wrapper .header-middle p {
  font-size: 13px;
  margin-left: 10px;
  color: #555555;
}
.top-footer .header-wrapper .header-middle p span {
  color: #64bccc;
}
.top-footer .header-wrapper .header-right {
  flex: 1;
  padding: 10px 0;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.top-footer .header-wrapper .header-right a {
  font-size: 1rem;
  color: #555555;
}
@media screen and (max-width: 900px) {
  .top-footer .header-wrapper {
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;
  }
  .top-footer .header-wrapper .header-middle {
    display: none;
  }
  .top-footer .header-wrapper .header-right {
    display: none;
  }
}

.menuss {
  background-color: #ffffff;
}
.menuss .menus-wrapper {
  display: flex;
  width: 87%;
  margin: 0 auto;
}
.menuss .menus-wrapper .menus-left {
  background-color: #64bccc;
  flex: 1;
  text-align: center;
  position: relative;
}
.menuss .menus-wrapper .menus-left .raoul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
.menuss .menus-wrapper .menus-middle {
  width: 60%;
  display: flex;
  padding: 20px 0;
  margin-left: 15px;
}
.menuss .menus-wrapper .menus-middle a {
  font-size: 14px;
  margin-left: 15px;
  text-decoration: none;
  color: #555555;
}
.menuss .menus-wrapper .menus-right {
  flex: 1;
  padding: 10px 0;
}
.menuss .menus-wrapper .menus-right p {
  font-size: 13px;
}
.menuss .menus-wrapper .menus-right form {
  border: 1px solid #efefef;
  border-radius: 50px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
}
.menuss .menus-wrapper .menus-right form input {
  margin: 0;
  border: none;
  border-radius: 50px;
  width: 100%;
}
.menuss .menus-wrapper .menus-right form button {
  border: none;
  background-color: white;
}

@media screen and (max-width: 900px) {
  .menuss {
    padding: 1rem 0.5rem;
    background-color: #efefef;
  }
  .menuss .menus-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .menuss .menus-wrapper .menus-left {
    background-color: #64bccc;
    flex: 1;
    text-align: center;
    position: relative;
  }
  .menuss .menus-wrapper .menus-left .raoul {
    position: relative;
  }
  .menuss .menus-wrapper .menus-middle {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding-top: 10px;
  }
  .menuss .menus-wrapper .menus-middle a {
    margin: 4px 0;
    background-color: #64bccc;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  .menuss .menus-wrapper .menus-right form {
    border-radius: 50px;
    padding: 0;
  }
  .menuss .menus-wrapper .menus-right form input {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.5rem;
    width: 100%;
  }
  .menuss .menus-wrapper .menus-right form button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem 1rem;
    border: none;
    background-color: white;
  }
}
.who-we-are {
  position: relative;
  padding: 1rem 0;
}
.who-we-are .who-we-are-wrapper {
  background-color: #fafafa;
  padding: 40px 0;
}
.who-we-are .who-we-are-wrapper .who-we-are-content {
  width: 87%;
  margin: 0 auto;
}
.who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-left .big-title {
  font-size: 1.1em;
  line-height: 1.4rem;
}
.who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-left .big-title mark {
  background-color: #64bccc;
  font-style: italic;
  color: white;
}
.who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-left .description {
  margin: 20px 0 0;
  font-size: 1.1rem;
}
.who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-left .description-2 {
  font-size: 1.1rem;
  margin: 0;
  margin-left: 1.5rem;
}
.who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-left .button-wrapper {
  align-items: center;
  display: flex;
}
.who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-left .button-wrapper .socmed-wrapper {
  margin-left: 20px;
}
.who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-left .button-wrapper .socmed-wrapper a {
  font-size: 20px;
  margin-left: 2rem;
}
.who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-right {
  text-align: center;
}
.who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-right img {
  max-width: 90%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
  .who-we-are .who-we-are-wrapper .who-we-are-content {
    width: 100%;
  }
  .who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-left {
    max-width: 100%;
  }
  .who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-left .button-wrapper .socmed-wrapper a {
    margin-left: 4px;
  }
  .who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-right {
    margin-top: 4rem;
  }
  .who-we-are .who-we-are-wrapper .who-we-are-content .who-we-are-right img {
    max-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .who-we-are .whowearebg {
    position: initial;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}
.video-wrapper {
  padding: 0 1rem;
}
.video-wrapper .content-video-wrapper {
  background-color: #fafafa;
  padding: 20px 0;
}
.video-wrapper .content-video-wrapper .header-video {
  width: 87%;
  margin: 20px auto;
}
.video-wrapper .content-video-wrapper .content-video {
  margin: 0;
  padding: 0;
  flex-direction: "row";
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
}
.video-wrapper .content-video-wrapper .item {
  background-color: #ffffff;
  width: 49%;
  border: 1px solid #efefef;
}
.video-wrapper .content-video-wrapper .item .img-item {
  width: 100%;
}
.video-wrapper .content-video-wrapper .item .title-wrapper {
  min-height: 55px;
}
.video-wrapper .content-video-wrapper .item .title-wrapper .title {
  font-weight: 500;
  padding: 0 1rem;
  margin: 1rem 0 0.5rem;
  font-size: 0.9rem;
}
.video-wrapper .content-video-wrapper .item .description {
  padding: 0 1rem;
}

@media screen and (max-width: 900px) {
  .video-wrapper {
    padding: 0 0.5rem;
  }
  .video-wrapper .content-video-wrapper {
    padding: 20px 0 0;
  }
  .video-wrapper .content-video-wrapper .header-video {
    width: 100%;
    margin: 20px auto;
  }
  .video-wrapper .content-video-wrapper .content-video {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .video-wrapper .content-video-wrapper .item {
    width: 100%;
    margin-bottom: 2em;
  }
  .video-wrapper .content-video-wrapper .item .img-item {
    width: 100%;
  }
  .video-wrapper .content-video-wrapper .item .title {
    font-size: 1rem;
    margin-left: 1rem;
  }
}
.news-wrapper {
  padding: 0 1rem;
}
.news-wrapper .content-news-wrapper {
  background-color: #fafafa;
  padding: 20px 0 4rem;
}
.news-wrapper .content-news-wrapper .header-news {
  margin-left: 34px;
  margin: 20px auto;
  width: 87%;
}
.news-wrapper .content-news-wrapper .content-news {
  margin: 0;
  padding: 0;
  flex-direction: "row";
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
}
.news-wrapper .content-news-wrapper .content-news .item {
  background-color: #ffffff;
  width: 32%;
  border: 1px solid #efefef;
}
.news-wrapper .content-news-wrapper .content-news .item .img-item {
  width: 100%;
}
.news-wrapper .content-news-wrapper .content-news .item .item-content {
  padding: 1rem;
  position: relative;
}
.news-wrapper .content-news-wrapper .content-news .item .item-content .title {
  font-weight: 500;
  font-size: 14px;
}
.news-wrapper .content-news-wrapper .content-news .item .item-content .description {
  color: #555555;
}
.news-wrapper .content-news-wrapper .content-news .item .item-content .date {
  margin: 0;
}
.news-wrapper .content-news-wrapper .content-news .item .item-content .read-more {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #4cb4c4;
}

@media screen and (max-width: 900px) {
  .news-wrapper {
    padding: 0 0.5rem;
  }
  .news-wrapper .content-news-wrapper {
    margin-top: 1rem;
    padding: 20px 0 20px;
  }
  .news-wrapper .content-news-wrapper .header-news {
    margin: 20px auto;
  }
  .news-wrapper .content-news-wrapper .content-news {
    flex-direction: column;
    display: flex;
    width: 100%;
  }
  .news-wrapper .content-news-wrapper .content-news .item {
    width: 100%;
    margin-bottom: 1em;
  }
}
.featur-video {
  padding: 0 1rem;
}
.featur-video .content-feature-video {
  background-color: #fafafa;
}
.featur-video .content-feature-video .content {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  justify-content: stretch;
  width: 87%;
  margin: 0 auto;
}
.featur-video .content-feature-video .content .left {
  width: 60%;
}
.featur-video .content-feature-video .content .left .img-item {
  width: 100%;
  height: 100%;
}
.featur-video .content-feature-video .content .right {
  width: 40%;
  background-color: #ffffff;
  padding: 20px;
  padding-left: 2rem;
  border: 1px solid #efefef;
  border-bottom: 4px solid #4cb4c4;
  position: relative;
}
.featur-video .content-feature-video .content .right .header-feature-video {
  margin-top: 0.5rem;
  color: #555555;
}
.featur-video .content-feature-video .content .right .title {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}
.featur-video .content-feature-video .content .right p {
  color: #555555;
}
.featur-video .content-feature-video .content .right .description {
  color: #555555;
  padding-bottom: 20px;
}
.featur-video .content-feature-video .content .right .date {
  position: absolute;
  bottom: 20px;
  left: 2rem;
  margin: 0;
}
.featur-video .content-feature-video .content .right .share {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  .featur-video {
    padding: 0 0.5rem;
  }
  .featur-video .content-feature-video .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .featur-video .content-feature-video .content .left {
    width: 100%;
  }
  .featur-video .content-feature-video .content .right {
    width: 100%;
    padding: 1rem;
    border: 1px solid #555555;
  }
}
.rwi-link {
  padding: 50px 1rem;
}
.rwi-link .content-rwi-link {
  margin: 0 auto;
}
.rwi-link .content-rwi-link .content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 87%;
  margin: 0 auto;
}
.rwi-link .content-rwi-link .content .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rwi-link .content-rwi-link .content .item .img-item {
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .rwi-link .content-rwi-link {
    margin: 0 auto;
  }
  .rwi-link .content-rwi-link .content {
    flex-direction: column;
    width: 100%;
  }
  .rwi-link .content-rwi-link .content .item {
    margin-bottom: 1.25rem;
    background-color: #fafafa;
    padding: 1.5rem;
  }
}
.photos {
  position: relative;
}
.photos .icon-cam {
  width: 80px;
  height: 80px;
  margin-right: 40px;
}
.photos .see-all {
  display: flex;
  flex-direction: "row";
  padding: 70px 0;
  width: 85%;
  margin: 0 auto;
}
.photos .see-all .thousand-text {
  text-decoration: underline;
  text-decoration-color: #4cb4c4;
}
.photos .join-movement {
  background-color: #4cb4c4;
  color: white;
}
.photos .join-movement .content-movement {
  padding: 50px 0;
  width: 85%;
  margin: 0 auto;
}
.photos .people-photos {
  position: absolute;
  bottom: 0;
  right: 1rem;
  max-width: 50%;
  display: block;
}
.photos .people-photos-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .photos {
    padding: 0 0.5rem;
  }
  .photos .icon-cam {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  .photos .see-all {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
  .photos .join-movement .content-movement {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .photos .people-photos {
    display: none;
  }
  .photos .people-photos-mobile {
    display: block;
  }
}
.footer {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.footer .newsletter {
  background-color: #4b087a;
}
.footer .newsletter .wrapper {
  width: 83%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer .newsletter .wrapper .content {
  color: white;
  width: 40%;
  padding-top: 55px;
}
.footer .newsletter .wrapper .content h3 {
  margin-bottom: 20px;
}
.footer .newsletter .wrapper .content form {
  width: 70%;
  margin-top: 20px;
  border-radius: 50px;
  background-color: #4b087a;
  border: 1px solid white;
  display: flex;
}
.footer .newsletter .wrapper .content form input {
  border: none;
  background-color: #4b087a;
  border-radius: 50px;
  color: white;
  flex: 1;
  padding: 4px 8px;
}
.footer .newsletter .wrapper .content form button {
  border: none;
  background-color: white;
  border-radius: 50px;
  width: 120px;
  text-align: center;
  z-index: 10;
  font-size: 0.9rem;
}
@media screen and (max-width: 900px) {
  .footer .newsletter .wrapper {
    flex-direction: column;
    width: 100%;
    padding: 1rem 0.6rem;
  }
  .footer .newsletter .wrapper .content {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer .newsletter img {
    max-width: 100%;
  }
}
.footer .footer-menu {
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: 0 auto;
  padding: 40px 0;
}
.footer .footer-menu .item {
  padding: 1rem;
}
.footer .footer-menu .item h4 {
  font-size: 1rem;
  color: #4cb4c4;
}
.footer .footer-menu .item:first-of-type {
  width: 20%;
  padding-left: 0;
}
.footer .footer-menu .item:last-child {
  padding-right: 0;
}
@media screen and (max-width: 900px) {
  .footer .footer-menu {
    width: 100%;
    flex-direction: column;
    padding: 40px 0 0;
  }
  .footer .footer-menu .item {
    padding: 0 0.5rem;
  }
  .footer .footer-menu .item:first-of-type {
    width: 100%;
    padding: 0 0.5rem;
  }
  .footer .footer-menu .item:first-of-type img {
    width: 60%;
  }
}
.footer .footer-about {
  width: 83%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer .footer-about .item {
  flex: 1;
  padding: 1rem;
  color: #555555;
}
.footer .footer-about .item:first-of-type {
  padding-left: 0;
}
.footer .footer-about .item:last-child {
  padding-right: 0;
}
.footer .copyright {
  width: 83%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .footer .footer-about {
    width: 100%;
    flex-direction: column;
  }
  .footer .footer-about .item {
    padding: 1rem 0.5rem;
  }
  .footer .footer-about .item:first-of-type {
    padding: 1rem 0.5rem;
  }
  .footer .footer-about .item:last-child {
    padding: 1rem 0.5rem;
  }
  .footer .copyright {
    width: 100%;
    padding: 1rem;
  }
}

.bottom-footer {
  padding: 0;
  margin-top: 40px;
}
.bottom-footer .bottom-wrapper {
  background-color: #e7e4e4;
  padding: 10px 0;
}
.bottom-footer .bottom-wrapper .bottom {
  width: 83%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.bottom-footer .bottom-wrapper .bottom p {
  margin: 0;
}

@media screen and (max-width: 900px) {
  .bottom-footer .bottom-wrapper .bottom {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }
  .bottom-footer .bottom-wrapper .bottom p {
    margin-bottom: 1rem;
  }
  .bottom-footer .bottom-wrapper .bottom a {
    margin-bottom: 1rem;
  }
}
.featur-news {
  padding: 0 1rem;
}
.featur-news .content-feature-news {
  background-color: #fafafa;
}
.featur-news .content-feature-news .content {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 87%;
  margin: 0 auto;
  padding: 80px 0 40px;
}
.featur-news .content-feature-news .content .left {
  width: 66%;
}
.featur-news .content-feature-news .content .left .img-item {
  width: 100%;
}
.featur-news .content-feature-news .content .right {
  width: 33%;
  padding: 20px;
  padding-left: 2.5rem;
  position: relative;
  background-color: #ffffff;
  border-bottom: 2px solid #4cb4c4;
}
.featur-news .content-feature-news .content .right .header-feature-news {
  margin-top: 0.5rem;
  color: #555555;
  margin-bottom: 1rem;
}
.featur-news .content-feature-news .content .right .title {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
}
.featur-news .content-feature-news .content .right p {
  color: #555555;
}
.featur-news .content-feature-news .content .right .description {
  color: #555555;
  margin-bottom: 20px;
}

.news-wrapper-detail {
  padding: 0 1rem;
}
.news-wrapper-detail .content-news-wrapper {
  padding: 20px 0;
}
.news-wrapper-detail .content-news-wrapper .header-news {
  margin-left: 34px;
  margin: 20px auto;
  width: 87%;
}
.news-wrapper-detail .content-news-wrapper .content-news {
  width: 88%;
  margin: 0 auto;
}
.news-wrapper-detail .content-news-wrapper .content-news .item {
  padding: 0 0.5em;
  margin-bottom: 1.25em;
}
.news-wrapper-detail .content-news-wrapper .content-news .item .inner-item {
  border: 1px solid #efefef;
}
.news-wrapper-detail .content-news-wrapper .content-news .item .inner-item .img-item {
  width: 100%;
}
.news-wrapper-detail .content-news-wrapper .content-news .item .inner-item .item-content {
  padding: 1rem;
  position: relative;
}
.news-wrapper-detail .content-news-wrapper .content-news .item .inner-item .item-content .title {
  font-weight: 500;
  font-size: 14px;
}
.news-wrapper-detail .content-news-wrapper .content-news .item .inner-item .item-content .description {
  color: #555555;
}
.news-wrapper-detail .content-news-wrapper .content-news .item .inner-item .item-content .date {
  margin: 0;
}
.news-wrapper-detail .content-news-wrapper .content-news .item .inner-item .item-content .read-more {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #4cb4c4;
}
.news-wrapper-detail .content-news-wrapper .content-news .item-big {
  width: 87%;
  margin: 0 auto 1.25em;
  padding: 0 0.5em;
}
.news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item {
  border: 1px solid #efefef;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .left {
  width: 66%;
  border-bottom: 2px solid #64bccc;
}
.news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .left .img-item {
  width: 100%;
}
.news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .right {
  width: 33%;
  padding: 20px;
  padding-left: 50px;
  position: relative;
}
.news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .right .header-feature-news {
  margin-top: 20px;
  color: #555555;
  margin-bottom: 32px;
}
.news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .right .title {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}
.news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .right p {
  color: #555555;
}
.news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .right .description {
  color: #555555;
  margin-bottom: 20px;
}
.news-wrapper-detail .content-news-wrapper .load_more_wrapper {
  width: 87%;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  .featur-news {
    padding: 1rem 0.5rem;
  }
  .featur-news .content-feature-news .content {
    flex-direction: column;
    width: 100%;
    padding: 0 0 40px;
  }
  .featur-news .content-feature-news .content .left {
    width: 100%;
  }
  .featur-news .content-feature-news .content .right {
    width: 100%;
    padding: 0rem;
    position: relative;
    padding: 1rem;
  }
  .featur-news .content-feature-news .content .right .header-feature-news {
    margin-top: 1rem 0;
  }
  .featur-news .content-feature-news .content .right .title {
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  .news-wrapper-detail {
    padding: 0 0.5rem;
  }
  .news-wrapper-detail .content-news-wrapper {
    padding: 0;
  }
  .news-wrapper-detail .content-news-wrapper .header-news {
    margin-left: 34px;
    width: 100%;
  }
  .news-wrapper-detail .content-news-wrapper .content-news {
    width: 100%;
    margin: 0 auto;
  }
  .news-wrapper-detail .content-news-wrapper .content-news .item {
    padding: 0;
    margin-bottom: 1.25em;
  }
  .news-wrapper-detail .content-news-wrapper .content-news .item .inner-item {
    min-height: 0;
    height: 100%;
  }
  .news-wrapper-detail .content-news-wrapper .content-news .item .inner-item .item-content .read-more {
    position: absolute;
    bottom: 0.5rem;
    font-size: 14px;
  }
  .news-wrapper-detail .content-news-wrapper .content-news .item-big {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item {
    flex-direction: column;
    border-bottom: 2px solid #64bccc;
    margin-bottom: 1.25rem;
  }
  .news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .left {
    width: 100%;
  }
  .news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .right {
    width: 100%;
    padding: 1rem;
    position: relative;
  }
  .news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .right .header-feature-news {
    margin-top: 20px;
    color: #555555;
    margin-bottom: 32px;
  }
  .news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .right .title {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .right p {
    color: #555555;
  }
  .news-wrapper-detail .content-news-wrapper .content-news .item-big .inner-item .right .description {
    color: #555555;
    margin-bottom: 20px;
  }
}
.publication {
  padding: 0 1rem;
}
.publication .content-publication {
  background-color: #fafafa;
}
.publication .content-publication .content {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 87%;
  margin: 0 auto;
  padding: 80px 0 40px;
}
.publication .content-publication .content h3 {
  margin-bottom: 1rem;
}
.publication .content-publication .content h4 {
  margin-bottom: 20px;
}
.publication .content-publication .content .left {
  width: 250px;
}
.publication .content-publication .content .right {
  flex: 1;
  margin-left: 20px;
}
.publication .content-publication .content .right .pub-item {
  background-color: #ffffff;
  border: 1px solid #e7e4e4;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #4cb4c4;
  margin-bottom: 20px;
}
.publication .content-publication .content .right .pub-item .img-wrapper {
  margin-right: 20px;
}
.publication .content-publication .content .right .pub-item .img-wrapper img {
  width: 100px;
}
.publication .content-publication .content .right .pub-item .text {
  color: #555555 !important;
}
.publication .content-publication .content .right .pub-item .text h5, .publication .content-publication .content .right .pub-item .text p {
  color: #555555 !important;
}

@media screen and (max-width: 900px) {
  .publication {
    padding: 0 0.5rem;
  }
  .publication .content-publication .content {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .publication .content-publication .content .left {
    width: 100%;
  }
  .publication .content-publication .content .left .filter-by {
    font-size: 1.25rem;
    margin-top: 2rem;
    text-align: center;
  }
  .publication .content-publication .content .right {
    flex: 1;
    margin: 0;
    width: 100%;
  }
  .publication .content-publication .content .right .all-pub {
    font-size: 1.2rem;
    margin-top: 2.5rem;
    text-align: center;
  }
  .publication .content-publication .content .right .pub-item {
    padding: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .publication .content-publication .content .right .pub-item .img-wrapper {
    margin: 0 0 1rem;
  }
  .publication .content-publication .content .right .pub-item .img-wrapper img {
    width: 100px;
  }
}
.videos {
  padding: 0 1rem;
}
.videos .content-videos {
  background-color: #fafafa;
  padding-bottom: 1rem;
}
.videos .content-videos .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 86%;
  margin: 0 auto;
  padding: 110px 0 0;
}
.videos .content-videos .content .left {
  width: 70%;
  background-color: white;
  border: 1px solid #efefef;
}
.videos .content-videos .content .left img {
  width: 100%;
}
.videos .content-videos .content .left .title-wrapper {
  padding: 1rem 1rem 0;
}
.videos .content-videos .content .left .title-wrapper .title {
  font-size: 1.25rem;
  margin: 0 0 1rem;
}
.videos .content-videos .content .right {
  width: 28%;
}
.videos .content-videos .content .right .top {
  background-color: white;
  margin-bottom: 1rem;
  border: 1px solid #efefef;
}
.videos .content-videos .content .right .top img {
  width: 100%;
}
.videos .content-videos .content .right .top .title-wrapper {
  padding: 1rem 1rem 0;
}
.videos .content-videos .content .right .top .title-wrapper .people-mental {
  font-size: 1rem;
}
.videos .content-videos .content .right .bottom .human-rights-facts {
  background-color: #64bccc;
  color: white;
  padding: 1rem;
  margin: 0;
}
.videos .content-videos .content .right .approximatelly {
  background-color: white;
  padding: 1rem;
  border: 1px solid #efefef;
}

.videos-wrapper-list {
  padding: 0 1rem;
}
.videos-wrapper-list .content-videos-wrapper {
  padding: 20px 0;
}
.videos-wrapper-list .content-videos-wrapper .content-videos {
  width: 88%;
  margin: 0 auto;
}
.videos-wrapper-list .content-videos-wrapper .content-videos .item {
  background-color: #ffffff;
  padding-bottom: 20;
  margin-bottom: 20px;
}
.videos-wrapper-list .content-videos-wrapper .content-videos .item .inner-item {
  border: 1px solid #efefef;
}
.videos-wrapper-list .content-videos-wrapper .content-videos .item .inner-item .img-item {
  width: 100%;
}
.videos-wrapper-list .content-videos-wrapper .content-videos .item .inner-item .title-wrapper {
  padding: 1.25em 1.25em 0;
}
.videos-wrapper-list .content-videos-wrapper .content-videos .item .inner-item .title-wrapper .title {
  font-size: 1rem;
}
.videos-wrapper-list .content-videos-wrapper .content-videos .item .inner-item .title-wrapper .time {
  color: #4cb4c4;
}

@media screen and (max-width: 900px) {
  .videos {
    padding: 0 0.5rem;
  }
  .videos .content-videos .content {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .videos .content-videos .content .left {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0 0 0;
  }
  .videos .content-videos .content .left .title {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
  }
  .videos .content-videos .content .right {
    width: 100%;
  }
  .videos .content-videos .content .right .top {
    margin: 0;
  }
  .videos .content-videos .content .right .top .people-mental {
    margin: 0;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .videos .content-videos .content .right .bottom .human-rights-facts {
    background-color: #64bccc;
    padding: 15px;
    color: white;
  }
  .videos .content-videos .content .right .approximatelly {
    padding: 0.5rem;
  }

  .videos-wrapper-list {
    padding: 0 0.5rem;
  }
  .videos-wrapper-list .content-videos-wrapper {
    padding: 0;
  }
  .videos-wrapper-list .content-videos-wrapper .content-videos {
    width: 100%;
  }
  .videos-wrapper-list .content-videos-wrapper .content-videos .item {
    padding: 0;
    margin-bottom: 1rem;
  }
  .videos-wrapper-list .content-videos-wrapper .content-videos .item .inner-item .title-wrapper {
    padding: 0.5rem;
  }
  .videos-wrapper-list .content-videos-wrapper .content-videos .item .inner-item .title-wrapper .time {
    margin-bottom: 0;
  }
}
#layout {
  padding: 1rem;
}

.news-detail {
  padding: 0 1rem;
}
.news-detail .content-feature-news {
  background-color: #fafafa;
}
.news-detail .content-feature-news .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
  padding: 80px 0 40px;
}
.news-detail .content-feature-news .content .left {
  width: 66%;
  background-color: white;
}
.news-detail .content-feature-news .content .left .news-header {
  padding: 1rem;
  position: relative;
  font-weight: 500;
}
.news-detail .content-feature-news .content .left img {
  width: 100%;
}
.news-detail .content-feature-news .content .left .news {
  display: flex;
  padding: 1rem;
}
.news-detail .content-feature-news .content .left .news .news-left {
  width: 30%;
  padding: 1rem;
}
.news-detail .content-feature-news .content .left .news .news-left .profile {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
.news-detail .content-feature-news .content .left .news .news-left .molly {
  font-weight: 500;
  margin-top: 1rem;
  line-height: 27px;
}
.news-detail .content-feature-news .content .left .news .news-left .staff {
  margin-top: 10px;
  line-height: 22px;
}
.news-detail .content-feature-news .content .left .news .news-left .tags {
  margin-top: 10px;
  line-height: 22px;
}
.news-detail .content-feature-news .content .left .news .news-left .button {
  display: inline-block;
  margin-bottom: 1rem;
}
.news-detail .content-feature-news .content .left .news .news-right {
  flex: 1;
  padding: 1rem;
}
.news-detail .content-feature-news .content .left .news .news-right img {
  max-width: 70%;
  margin: 8px 0;
}
.news-detail .content-feature-news .content .left .comments {
  margin-top: 1rem;
  padding: 1rem;
}
.news-detail .content-feature-news .content .right {
  width: 32%;
}
.news-detail .content-feature-news .content .right h5 {
  margin-bottom: 20px;
}
.news-detail .content-feature-news .content .right .top {
  margin-bottom: 1rem;
  border: 1px solid #efefef;
  background-color: #ffffff;
  padding-bottom: 1em;
}
.news-detail .content-feature-news .content .right .top img {
  width: 100%;
}
.news-detail .content-feature-news .content .right .top .title {
  font-weight: 500;
  padding: 0 1rem;
  margin-top: 1em;
}
.news-detail .content-feature-news .content .right .top .description {
  padding: 0 1rem;
}
.news-detail .content-feature-news .content .right .top .read-more {
  margin-left: 1rem;
}

@media screen and (max-width: 900px) {
  .news-detail {
    padding: 0 0.5rem;
  }
  .news-detail .content-feature-news .content {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .news-detail .content-feature-news .content .left {
    width: 100%;
  }
  .news-detail .content-feature-news .content .left .news-header {
    padding: 0.5rem;
  }
  .news-detail .content-feature-news .content .left .news {
    padding: 0.5rem;
    flex-direction: column-reverse;
  }
  .news-detail .content-feature-news .content .left .news .news-left {
    width: 100%;
    padding: 0.5rem;
  }
  .news-detail .content-feature-news .content .left .news .news-right {
    padding: 0.5rem;
  }
  .news-detail .content-feature-news .content .right {
    width: 100%;
  }
  .news-detail .content-feature-news .content .right .top {
    margin-bottom: 1rem;
    border: 1px solid #efefef;
    background-color: #ffffff;
    padding-bottom: 1em;
  }
  .news-detail .content-feature-news .content .right .top img {
    width: 100%;
  }
  .news-detail .content-feature-news .content .right .top .title {
    font-weight: 500;
    padding: 0 1rem;
    margin-top: 1em;
  }
  .news-detail .content-feature-news .content .right .top .description {
    padding: 0 1rem;
  }
  .news-detail .content-feature-news .content .right .top .read-more {
    margin-left: 0.5rem;
  }
}
.video-detail {
  padding: 0 1rem;
}
.video-detail .content-feature-video {
  background-color: #fafafa;
}
.video-detail .content-feature-video .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
  padding: 80px 0 40px;
}
.video-detail .content-feature-video .content .left {
  width: 66%;
}
.video-detail .content-feature-video .content .left img {
  width: 100%;
}
.video-detail .content-feature-video .content .left .sub-content {
  background-color: white;
  padding: 1em;
  position: relative;
  margin-bottom: 1em;
}
.video-detail .content-feature-video .content .left .comment {
  background-color: white;
  padding: 1.5em;
  position: relative;
  margin-bottom: 1em;
}
.video-detail .content-feature-video .content .right {
  width: 32%;
}
.video-detail .content-feature-video .content .right h5 {
  margin-bottom: 1.25rem;
}
.video-detail .content-feature-video .content .right .top {
  margin-bottom: 1rem;
  border: 1px solid #efefef;
  background-color: #ffffff;
  padding-bottom: 1em;
}
.video-detail .content-feature-video .content .right .top img {
  width: 100%;
}
.video-detail .content-feature-video .content .right .top .title {
  font-weight: 500;
  padding: 0 1rem;
  margin-top: 1em;
}
.video-detail .content-feature-video .content .right .top .description {
  padding: 0 1rem;
}
.video-detail .content-feature-video .content .right .top .read-more {
  margin-left: 1rem;
}

@media screen and (max-width: 900px) {
  .video-detail {
    padding: 0 0.5rem;
  }
  .video-detail .content-feature-video .content {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .video-detail .content-feature-video .content .left {
    width: 100%;
  }
  .video-detail .content-feature-video .content .left img {
    width: 100%;
  }
  .video-detail .content-feature-video .content .left .sub-content {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .video-detail .content-feature-video .content .left .comment {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .video-detail .content-feature-video .content .right {
    width: 100%;
  }
  .video-detail .content-feature-video .content .right .top {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }
  .video-detail .content-feature-video .content .right .top .description {
    padding: 0 0.5rem;
  }
  .video-detail .content-feature-video .content .right .top .read-more {
    margin-left: 0.5rem;
  }
}
.lg-outer {
  z-index: 2000 !important;
  background-color: black;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 1020px !important;
    min-width: 1020px !important;
  }
}
.gallery {
  padding: 0 1rem;
}
.gallery .content-feature-gallery {
  background-color: #fafafa;
}
.gallery .content-feature-gallery .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
  padding: 80px 0 40px;
}
.gallery .content-feature-gallery .content .left {
  width: 66%;
  background-color: white;
}
.gallery .content-feature-gallery .content .left img {
  width: 100%;
}
.gallery .content-feature-gallery .content .right {
  width: 34%;
  background-color: white;
  padding: 1rem;
  padding-left: 2rem;
  border: 1px solid #efefef;
}
.gallery .content-feature-gallery .content .right h5 {
  margin-bottom: 20px;
}
.gallery .content-feature-gallery .content .right .top {
  margin-bottom: 1rem;
  border: 1px solid #efefef;
  background-color: #ffffff;
  padding-bottom: 1em;
}
.gallery .content-feature-gallery .content .right .top img {
  width: 100%;
}
.gallery .content-feature-gallery .content .right .top .title {
  font-weight: 500;
  padding: 0 1rem;
  margin-top: 1em;
  color: #555555;
}
.gallery .content-feature-gallery .content .right .top .description {
  padding: 0 1rem;
}

.photo_collection {
  padding: 0 1rem;
}
.photo_collection .content-photo_collection {
  padding: 20px 0;
}
.photo_collection .content-photo_collection .header-photo {
  margin-left: 34px;
  margin: 20px auto;
  width: 87%;
}
.photo_collection .content-photo_collection .content-video {
  width: 88%;
  margin: 0 auto;
}
.photo_collection .content-photo_collection .content-video .item {
  padding: 0 0.5rem 0.5rem;
  margin-bottom: 1.25em;
}
.photo_collection .content-photo_collection .content-video .item .inner-item {
  border: 1px solid #efefef;
}
.photo_collection .content-photo_collection .content-video .item .inner-item .img-item {
  width: 100%;
}
.photo_collection .content-photo_collection .content-video .item .inner-item .item-content {
  padding: 1rem 1rem 0;
  position: relative;
}
.photo_collection .content-photo_collection .content-video .item .inner-item .item-content .title {
  font-weight: 500;
  font-size: 14px;
  color: #555555;
}
.photo_collection .content-photo_collection .content-video .item .inner-item .item-content .description {
  color: #555555;
}
.photo_collection .content-photo_collection .content-video .item .inner-item .item-content .date {
  margin: 0;
}

@media screen and (max-width: 900px) {
  .gallery {
    padding: 0 0.5rem;
  }
  .gallery .content-feature-gallery .content {
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
  }
  .gallery .content-feature-gallery .content .left {
    width: 100%;
  }
  .gallery .content-feature-gallery .content .right {
    width: 100%;
    padding: 1rem;
  }
  .gallery .content-feature-gallery .content .right .sub-header {
    font-size: 1.25rem;
  }
  .gallery .content-feature-gallery .content .right p {
    margin-bottom: 0.5rem;
  }

  .photo_collection {
    padding: 0 0.5rem;
  }
  .photo_collection .content-photo_collection {
    padding: 20px 0 0;
  }
  .photo_collection .content-photo_collection .header-photo {
    padding: 0.5rem;
    width: 100%;
    font-size: 1.25rem;
  }
  .photo_collection .content-photo_collection .content-video {
    width: 100%;
  }
  .photo_collection .content-photo_collection .content-video .item {
    padding: 0;
    margin-bottom: 1.25rem;
  }
  .photo_collection .content-photo_collection .content-video .item .inner-item {
    border: 1px solid #efefef;
    height: 300px;
    overflow: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
