.videos {
  padding: 0 1rem;  

  .content-videos {
    background-color: $lighGray;
    padding-bottom: 1rem;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 86%;
      margin: 0 auto;
      padding: 110px 0 0; 
      
      .left {
        width: 70%;
        background-color: white;
        border: 1px solid $darkGray;  
        
        img {
          width: 100%;
        }

        .title-wrapper {
          padding: 1rem 1rem 0;

          .title {
            font-size: 1.25rem;
            margin: 0 0 1rem;
          }
        }
      }

      .right {
        width: 28%;
        
        .top {
          background-color: white;
          margin-bottom: 1rem;
          border: 1px solid $darkGray;  

          img {
            width: 100%;
          }

          .title-wrapper {
            padding: 1rem 1rem 0;
            .people-mental {
              font-size: 1rem;
            }
          }
        }
      
      
        .bottom {
          .human-rights-facts {
            background-color: $lightBule;
            color: white;
            padding: 1rem;
            margin: 0;
          }        
        }

        .approximatelly {
          background-color: white;
          padding: 1rem;
          border: 1px solid $darkGray;
        }
      }
    }
  }  
}


.videos-wrapper-list {
  padding: 0 1rem;

  .content-videos-wrapper {
    padding: 20px 0;
    
    .content-videos {
      width: 88%;
      margin: 0 auto;

      .item {
        background-color: $white;
        padding-bottom: 20;
        margin-bottom: 20px;

        .inner-item {
          border: 1px solid $darkGray;
          
          .img-item {
            width: 100%;
          }
          
          .title-wrapper {
            padding: 1.25em 1.25em 0;

            .title {
              font-size: 1rem;
            }
            
            .time {
              color: $darkBlue;
            }
          }
          
        }

      }
    }

  }
}
 
@media screen and (max-width: 900px) {
  .videos {
    padding: 0 0.5rem;  
  
    .content-videos {
  
      .content {
        flex-direction: column;
        width: 100%;
        padding: 0; 
        
        .left {
          width: 100%;
          margin-bottom: 1rem;
          padding: 1rem 0 0 0;

          .title {
            font-size: 1rem;
            padding: 0.5rem;
            margin: 0;
          }
        }

        .right {
          width: 100%;
          
          .top {
            margin: 0;
            .people-mental {
              margin: 0;
              font-size: 1rem;
              padding: 0.5rem;
            }
          }

          .bottom {
            .human-rights-facts {
              background-color: $lightBule;
              padding: 15px;
              color: white;
            }
          }

          .approximatelly {
            padding: 0.5rem;
          }
        }
      }  
    }
  }

  .videos-wrapper-list {
    padding: 0 0.5rem;
  
    .content-videos-wrapper {
      padding: 0;
      
      .content-videos {
        width: 100%;
  
        .item {
          padding: 0;
          margin-bottom: 1rem;
  
          .inner-item {
            
            .title-wrapper {
              padding: 0.5rem;
  
              .time {
                margin-bottom: 0;
              }
            }  
          }
  
        }
      }
  
    }
  }

}

