.video-detail {
    padding: 0 1rem;  
  
    .content-feature-video {
      background-color: $lighGray;
  
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 87%;
        margin: 0 auto;
        padding: 80px 0 40px;
    
        .left {
          width: 66%;

          img {
            width: 100%;
          }

          .sub-content {
            background-color: white;
            padding: 1em;
            position: relative;
            margin-bottom: 1em;
          }

          .comment {
            background-color: white;
            padding: 1.5em;
            position: relative;
            margin-bottom: 1em;
          }

        }
        .right {
          width: 32%;
          h5 {
            margin-bottom: 1.25rem;
          }
  
          .top {
            margin-bottom: 1rem;
            border: 1px solid $darkGray;
            background-color: $white;
            padding-bottom: 1em;
  
            img {
              width: 100%;
            }
  
            .title {
              font-weight: 500;
              padding: 0 1rem;
              margin-top: 1em;
            }
  
            .description {
              padding: 0 1rem;
            }

            .read-more {
              margin-left: 1rem;
            }
  
          }   
        }
      }
    }
}

@media screen and (max-width: 900px) { 
  .video-detail {
    padding: 0 0.5rem;  
  
    .content-feature-video {
  
      .content {
        flex-direction: column;
        width: 100%;
        padding: 0;
    
        .left {
          width: 100%;

          img {
            width: 100%;
          }

          .sub-content {
            padding: 0.5rem;
            margin-bottom: 0.5rem;
          }

          .comment {
            padding: 1rem;
            margin-bottom: 1rem;
          }

        }
        .right {
          width: 100%;
  
          .top {
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
  
            .description {
              padding: 0 0.5rem;
            }

            .read-more {
              margin-left: 0.5rem;
            }
  
          }   
        }
      }
    }
}
}