{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>{{ settings.seo_title.text_value }}</title>
  {% include "./meta.html" %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WJZ87L6');</script>
  <!-- End Google Tag Manager -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-198230675-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-198230675-1');
  </script>
  {% block extra_header %} {% endblock extra_header %}
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJZ87L6" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <section class="top-footer">
    <div class="header-wrapper">
      <a href="https://rwi.or.id" class="header-left" style="color: white; font-size: 12px; font-weight: bold;">
        <!-- <img src="{% static 'images/headquarter.png' %}" /> -->
        RWI JAKARTA / ASIA PACIFIC OFFICE
      </a>
      <div class="header-middle">
        <p>Contact <span> &nbsp;&nbsp; {{ settings.top_footer_contact.text_value|safe }} </span></p>
      </div>
      <div class="header-right">
        <a href="{{ settings.url_facebook.text_value }}" target="_blank"><i class="fa fa-facebook"></i></a> &nbsp;
        <a href="{{ settings.url_twitter.text_value }}" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp;
        <a href="{{ settings.url_instagram.text_value }}" target="_blank"><i class="fa fa-instagram"></i></a> &nbsp;
        <a href="{{ settings.url_youtube.text_value }}" target="_blank"><i class="fa fa-youtube"></i></a> &nbsp;
      </div>
    </div>
  </section>
  <section class="menuss">
    <div class="menus-wrapper">
      <a class="menus-left" href="/">
        <img src="{% static 'images/raoul.png' %}" class="raoul" />
      </a>
      <div class="menus-middle">
        <a href="/campaigns/">Campaign</a>
        <a href="/news/">News and Blogs</a>
        <a href="/videos/">Videos</a>
        <a href="/gallery/">Gallery</a>
        <a href="/publications/">Publication</a>
      </div>
      <div class="menus-right">
        <form class="form" action="{% url 'frontend:search' %}">
          <button type="submit"><i class="fa fa-search"></i></button>
          <input type="text" placeholder="Search here" name="query">
        </form>
      </div>
    </div>
  </section>

  {% block content %} {% endblock %}

  <section class="footer">
    <div class="newsletter">
      <div class="wrapper">
        <div class="content">
          <h3>{{ settings.subscribe_title.text_value|safe }}</h3>
          <p>{{ settings.subscribe_text.text_value|safe }}</p>
          <form class="form" action="" id="subscribe">
            <input type="email" placeholder="Your email address" name="email">
            <button type="submit">SUBSCRIBE</i></button>
          </form>
        </div>
        <img src="{% static 'images/bg_newsletter.png' %}" />
      </div>
    </div>


    <div class="footer-menu">
      <div class="item first">
        <img class="img-item" src="{% static 'images/raoul_white.png' %}" />
      </div>
      <div class="item">
        <h4>Explore our campaign</h4>
        {{ settings.footer_explor_campaign.text_value|safe }}
      </div>
      <!-- <div class="item">
        <h4>Asia Pacific Office</h4>
        {{ settings.footer_asia_pacific_office.text_value|safe }}
      </div> -->
      <div class="item">
        <h4>Address</h4>
        {{ settings.footer_adress.text_value|safe }}
      </div>
      <div class="item">
        <h4>Contact</h4>
        {{ settings.footer_contact.text_value|safe }}
      </div>
    </div>

    <div class="footer-about">
      <div class="item">
        <p>{{ settings.footer_desc_left.text_value|safe }}</p>
      </div>
      <div class="item">
        <p>{{ settings.footer_desc_middle.text_value|safe }}</p>
      </div>
      <div class="item">
        <p>{{ settings.footer_desc_right.text_value|safe }}</p>
      </div>
    </div>

    <div class="copyright">
      <p>{{ settings.footer_copyright_text.text_value|safe }}</p>
    </div>
  </section>

  <section class="bottom-footer">
    <div class="bottom-wrapper">
      <div class="bottom">
        <p>{{ settings.footer_web_name.text_value|safe }} . Jakarta </p>
        <a href="{{ settings.footer_link_about.text_value|safe }}">About Raoul Wallenburg Institute</a>
        <a href="{{ settings.footer_privacy_policy_url.text_value|safe }}">Privacy Policy</a>
      </div>
    </div>
  </section>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

  <script type="text/javascript">
    (function ($) {
      $('#lazyLoadLink').on('click', function () {
        var link = $(this);
        var page = link.data('page');
        $.ajax({
          type: 'post',
          url: link.data('link'),
          data: {
            'email': "aaa@gmail.com",
            'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
          },
          success: function (data) {
            console.log(data)
          },
          error: function (xhr, status, error) {
            console.log(error)
          }
        });
      })
    }(jQuery));

    $("#subscribe").submit(function (e) {
      e.preventDefault(); // avoid to execute the actual submit of the form.
      var form = $(this);
      $.ajax({
        type: 'post',
        url: "{% url 'frontend:subscribe' %}",
        data: form.serialize(),
        success: function (data) {
          console.log(data)
          document.getElementById("subscribe").reset();
          alert("Thank you for submit")
        },
        error: function (xhr, status, error) {
          console.log(error)
        }
      });
    });
  </script>
  {% block extra_js %} {% endblock %}
</body>

</html>