{% extends 'frontend/base.html' %}
{% load humanize %}
{% load templatehelpers %}
{% block content %}

<section class="video-detail">
  <div class="content-feature-video">
    <div class="content">
      <div class="left">
        <iframe frameborder="0" style="overflow:hidden;" width="100%" height="450px"
           src="{{ campaign.video.video_url }}"> 
        </iframe>
        <div class="sub-content">
          <h5>{{campaign.title}}</h5>
          <p>#{{campaign.hastag}}
            <span style="float: right;">
            Share:
            <a href="https://www.facebook.com/sharer/sharer.php?u={{campaign.video.video_url}}" target="_blank">
              <i class="fa fa-facebook"></i> facebook</a>
            <a href="https://twitter.com/intent/tweet?url={{campaign.video.video_url}}" target="_blank">
              <i class="fa fa-twitter"></i> twitter</a> 
            </span>
          </p>
          <hr />
          <p>{{ campaign.long_desc | safe }}</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock content %}