{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
{% for campaign in campaigns %}
<section class="campaign">
  <div class="top-campaign">
    <div class="item left" style="background-image: url('{{ campaign.img.url }}');">
      <h3>{{ campaign.title }}</h3>
      <p>{{ campaign.short_desc|safe }}</p>
      <h4>{{ campaign.hastag }}</h4>

      <a href="{% url 'frontend:campaign_detail' campaign.slug %}" class="link">Read More</a>
    </div>
    <div class="item"
      style="background-image: url('{{ campaign.img2.url }}'); background-color: {{ campaign.base_color }};">
    </div>
  </div>

  <div class="campaign-video">
    <div
      class="campaign-wrapper"
      style="background-image: url('{{ campaign.video.img.url }}');">
      <div class="inner-wrapper" style="background: {{ campaign.base_color }};
        background: linear-gradient(90deg, {{ campaign.base_color }} 36%, rgba(0,212,255,0) 81%); ">
        <div class="text-box">
          <div class="row">
            <div class="col-md-7 col-sm-12 left" >
              <p class="">Video</p>
              <p class="">{{ campaign.video.time }} MIN </p>
              <h2 class="">{{ campaign.video.title }}</h2>
              <p class="">{{ campaign.video.long_desc|safe }}</p>
            </div>
            <div class="col-md-5 col-sm-12 right">
              <a href="{% url 'frontend:videos_detail' campaign.video.slug %}" class="button-play">
                <img src="{% static 'images/download.png' %}" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="information" style="border-bottom: 3px solid #0072b1;">
    <img src="{% static 'images/lamp.png' %}" /> &nbsp; To find more information about human rights visit <a href=""> News and Videos
    </a> or <a href="">Blogs</a>
  </div>
</section>
{% endfor %}


{% endblock content %}