{% extends 'frontend/base.html' %}
{% load humanize %}
{% load templatehelpers %}
{% load static %}

{% block extra_header %} 
  <link type="text/css" rel="stylesheet" href="{% static 'node_modules/lightgallery.js/dist/css/lightgallery.css' %}" /> 
{% endblock %}

{% block content %}
  <section class="photo_collection" style="padding-top: 60px;">
    <div class="content-photo_collection">
      <p class="sub-header header-photo">{{ album.title }} (album) </p>
      <div class="content-video row"  id="lightgallery1" >
        {% for photo in photos %}
        <div class="item col-md-4 col-sm-12" href="{{photo.img.url}}">
            <div class="inner-item"  >
              <div style="height: 200px; overflow: hidden;">
                <img src="{{photo.img.url}}" class="img-item" />
              </div>
            </div>
          </div> 
        {% endfor %}
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <nav aria-label="">
        <ul class="pagination">
          {% if photos.has_previous %}
            <li class="page-item"><a class="page-link" href="{% relative_url photos.previous_page_number 'page' request.GET.urlencode %}"><</a></li>
          {% endif %}
          {% for i in photos.paginator.page_range %}
            <li class="page-item"><a class="page-link {% if photos.number == i %}is-active{% endif %}" href="{% relative_url i 'page' request.GET.urlencode %}">{{forloop.counter}}</a></li>
          {% endfor %}
          {% if photos.has_next %}
            <li class="page-item"><a class="page-link" href="{% relative_url photos.next_page_number 'page' request.GET.urlencode %}">></a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </section>
{% endblock content %}

{% block extra_js %} 
<script type="text/javascript" src="{% static 'node_modules/lightgallery.js/dist/js/lightgallery.min.js' %}"></script>
<script type="text/javascript">
  lightGallery(document.getElementById('lightgallery1'), {
    controls: false,
    counter: false,
  }); 
</script>
{% endblock %}