{% extends 'frontend/base.html' %}
{% load humanize %}
{% load templatehelpers %}
{% load static %}

{% block extra_header %} 
  <link type="text/css" rel="stylesheet" href="{% static 'node_modules/lightgallery.js/dist/css/lightgallery.css' %}" /> 
{% endblock %}

{% block content %}

{% if featured_photos.count > 0 %} 
  <section class="gallery">
    <div class="content-feature-gallery">
      <div class="content" >
        <div class="left" id="lightgallery" >
          <a href="{{featured.img.url}}">
            <img class="img-item" src="{{featured.img.url}}" />
          </a>
        </div>
        <div class="right">
          <p class="sub-header">Featured Photos</p>
          <p class="date">{{ featured.date }}</p>
          <p class="description">{{featured.long_desc}}</p>
          <a class="share" href="#">Share Photo</a>
        </div>
      </div>
    </div>
  </section>
{% else %} 
  <section class="gallery">
    <div style="height: 70px;">&nbsp;</div>
  </section>
{% endif %}

  <section class="photo_collection">
    <div class="content-photo_collection">
      <p class="sub-header header-photo">RWI Photo Collection</p>
      <div class="content-video row">
        
        {% for album in albums %}
        <div class="item col-md-4 col-sm-12" data-toggle="modal" data-target="#exampleModal">
          <!-- onclick="initiateGallery('lightgallery2-{{ forloop.counter }}')"  -->
          <a class="inner-item" 
            href="{% url 'frontend:gallery_detail' album.slug %}"
            type="button" class="btn btn-primary" style="display: block;">
            <img class="img-item" src="{{album.img.url}}" />
            <div class="item-content"> 
              <p class="title">{{ album.title}}</p>
            </div>
          </a>
          <!-- Modal -->
          <!-- <div class="modal fade" id="exampleModalCenter-{{ forloop.counter }}" >
            <div class="modal-dialog modal-lg modal-dialog-centered" >
              <div class="modal-content" style="border: none;">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">{{ album.title}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="padding: 0.5rem;" >
                  <div class="container-fluid">
                    <div class="row" id="lightgallery2-{{ forloop.counter }}">
                      {% for vv in album.photo_set.all|slice:":4" %}
                        <div class="col-md-3 col-sm-12" href="{{vv.img.url}}" 
                          style="margin: 0rem; overflow: hidden; padding: 0.2rem; ">
                          <img src="{{vv.img.url}}" style="height: 150px; width: 100%; border-radius: 0.2rem; border: 1px solid #efefef" />
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div style="text-align: center; margin-top: 1rem;">
                  <a class="button" id="lazyLoadLinkk" 
                        href="javascript:void(0);" 
                        data-page="2" 
                        data-link="{% url 'frontend:lazy_load_photo' album.id %}" 
                        data-idd="#lightgallery2-{{ forloop.counter }}"
                        >Load More</a> 
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        {% endfor %}
      </div>
      <!-- <div class="load_more_wrapper">
        <a class="button" href=""> Load More </a>
      </div> -->
      <div style="display: flex; justify-content: center;">
        <nav aria-label="">
          <ul class="pagination">
            {% if albums.has_previous %}
              <li class="page-item"><a class="page-link" href="{% relative_url albums.previous_page_number 'page' request.GET.urlencode %}"> < </a></li>
            {% endif %}
            {% for i in albums.paginator.page_range %}
              <li class="page-item"><a class="page-link {% if albums.number == i %}is-active{% endif %}" href="{% relative_url i 'page' request.GET.urlencode %}">{{forloop.counter}}</a></li>
            {% endfor %}
            {% if albums.has_next %}
              <li class="page-item"><a class="page-link" href="{% relative_url albums.next_page_number 'page' request.GET.urlencode %}"> > </a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </section>

  {% if featured_photos.count > 0 %}
  <section class="photo_collection">
    <div class="content-photo_collection">
      <p class="sub-header header-photo">Photos That Tell a thousand storiess</p>
      <div class="content-video row"  id="lightgallery1" >
        {% for photo in featured_photos|slice:":9" %}
        <div class="item col-md-4 col-sm-12" href="{{photo.img.url}}">
            <div class="inner-item"  >
              <div style="height: 200px; overflow: hidden;">
                <img src="{{photo.img.url}}" class="img-item" />
              </div>
              <div class="item-content"> 
                <p class="title">{{ photo.long_desc|truncatewords:"40"|linebreaks }}</p>
              </div>
            </div>
          </div> 
        {% endfor %}
      </div>
      <!-- <div class="load_more_wrapper">
        <a class="button" href=""> Load More </a>
      </div> -->
    </div>
  </section>
  {% endif %}
{% endblock content %}

{% block extra_js %} 
  <script type="text/javascript" src="{% static 'node_modules/lightgallery.js/dist/js/lightgallery.min.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'node_modules/lightgallery.js/dist/js/lg-thumbnail.min.js' %}"></script> -->
  <!-- <script type="text/javascript" src="{% static 'node_modules/lightgallery.js/dist/js/lg-fullscreen.min.js' %}"></script> -->
  <script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
      controls: false,
      counter: false,
    }); 

    lightGallery(document.getElementById('lightgallery1'), {
      controls: false,
      counter: false,
    }); 
    
    function initiateGallery(element) {
      lightGallery(document.getElementById(element)); 
    }
  </script>

  <!-- load more photos -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript">
    $(document).on("click", "#lazyLoadLinkk", function() {
      var link = $(this);
      var page = link.data('page');
      var idd = link.data('idd');
      $.ajax({
          type: 'post',
          url: link.data('link'),
          data: {
              'page': page,
          },
          success: function(data) {
            console.log(data)
          // if there are still more pages to load,
          // add 1 to the "Load More Posts" link's page data attribute
          // else hide the link
          if (data.has_next) {
              link.data('page', page+1);
          } else {
              link.hide();
          }
              // append html to the posts div
              $(idd).append(data.photos_html);
              var el = $(idd); 
              console.log(el)
              console.log(el.attr("lg-uid"))
              console.log(window.lgData)
              console.log(window.lgData[el.attr("lg-uid")])
          },
          error: function(xhr, status, error) {
              // shit happens friends!
          }
      });
    }) -->
</script>

{% endblock %}