{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load templatehelpers %}


{% block extra_header %}
<link type="text/css" rel="stylesheet" href="{% static 'node_modules/nanogallery2/dist/css/nanogallery2.min.css' %}" />
{% endblock %}

{% block content %}

<section id="slider">
  <div id="slider-animation" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for banner in banners %}

       <div id="carousel-item" 
        findout-url="{{ banner.find_out_url }}"
        video-url="{{ banner.video_url }}"
        class="carousel-item {% if forloop.first %} active {% endif %}"
        style="background-image: url('{{ banner.img.url }}'); height: 650px; 
               background-size: cover; background-position: center; cursor: pointer;">
        <div class="text-box">
          <div class="row align-items-center">
            <div class="col-md-8">
              {% if banner.hastag %}
              <h5 data-wow-duration="1s">#{{ banner.hastag }}</h5>
              {% endif %}
              {% if banner.big_text %}
              <h2 class="wow fadeInUp" data-wow-duration="1s">{{ banner.big_text }}</h2>
              {% endif %}
              {% if banner.small_text %}
              <p class="wow fadeInUp" data-wow-duration="1s">{{ banner.small_text }}</p>
              {% endif %}
            </div>
          </div>
          <div class="wow fadeInUp button-wrapper" data-wow-duration="2s">
            {% if banner.video_url %}
            <a href="" class="button button-white" target="blank">Play Video</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="slider-arrow">
      <a class="Prev" href="#slider-animation" data-slide="prev">
        <i class="fa fa-arrow-circle-left"></i>
      </a>
      &nbsp;&nbsp;&nbsp;
      <a class="Next" href="#slider-animation" data-slide="next">
        <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
</section>

<section class="who-we-are">
  <div class="who-we-are-wrapper">
    <div class="row who-we-are-content">
      <div class="col-md-6 col-sm-12 who-we-are-left">
        <img src="{% static 'images/raoullogo.png' %}" />
        <h4 class="big-title" style="margin-top: 20px;">
          <mark>RWI’s Regional Asia and Pacific Programme (RAPP)</mark> specifically supports the stronger alignment of
          environmental and human rights outcomes – and recognises the inherent interaction and mutual reliance between
          these two focus areas.
          <br /><br />Through support by the Swedish International Development Cooperation (SIDA), RWI is actively
          promoting and highlighting how intrinsic human rights are to responses to climate change and the environment.
          <!-- <p class="description">Our Campaign</p>
          <p class="description-2">People on the move</p>
          <p class="description-2">Inclusive societies</p>
          <p class="description-2">Economic globalization and Human rights</p> -->
          <div style="margin-top: 30px;">
            <p><a href="https://rwi.or.id/who-we-are" class="button button-blue">LEARN MORE ABOUT RWI</a></p>
            <div class="button-wrapper">
              <a href="https://rwi.or.id/contacts" class="button button-blue">CONTACT RWI</a>
              <div class="socmed-wrapper">
                <a href="{{ settings.url_facebook.text_value }}" target="_blank"><i class="fa fa-facebook"></i></a>
                &nbsp;
                <a href="{{ settings.url_twitter.text_value }}" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp;
                <a href="{{ settings.url_instagram.text_value }}" target="_blank"><i class="fa fa-instagram"></i></a>
                &nbsp;
                <a href="{{ settings.url_youtube.text_value }}" target="_blank"><i class="fa fa-youtube"></i></a> &nbsp;
              </div>
            </div>
          </div>
      </div>

      <div class="col-md-6 col-sm-12 who-we-are-right">
        <img class="" src="{% static 'images/whowearebg22.png' %}">
        <a href="{% url 'frontend:campaign' %}" class="button button-blue">VIEW CAMPAIGNS</a>
      </div>
    </div>
  </div>
</section>

<section class="video-wrapper">
  <div class="content-video-wrapper">
    <p class="sub-header header-video">Latest Video</p>
    <div class="content-video">
      {% for video in latest_videos|slice:"0:2" %}
      <div class="item">
        <a href="{% url 'frontend:videos_detail' video.slug %}">
          <div style="position: relative; ">
            <img class="download-button medium" src="{% static 'images/download.png' %}" />
            <img class="img-item" src="{{ video.img.url }}" />
          </div>
        </a>
        <div class="title-wrapper">
          <p class="title">{{ video.title | truncatewords:"22" }}</p>
        </div>
        <p class="description"><span class="time">{{ video.time }} </span>&nbsp; Posted {{ video.date }} </p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="news-wrapper">
  <div class="content-news-wrapper">
    <p class="sub-header header-news">Latest News</p>
    <div class="content-news">
      {% for news in latest_news|slice:"0:3" %}
      <div class="item">
        <img class="img-item" src="{{news.img.url}}" />
        <div class="item-content">
          <p class="title">{{ news.title}}</p>
          <p class="description">{{news.short_desc|truncatewords:"30" }}<br>
          </p>
          <p class="date">{{news.date}}</p>
          <a href="{% url 'frontend:news_detail' news.slug %}" class="read-more">READ MORE</a>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

<section class="featur-video">
  <div class="content-feature-video">
    <div class="content">
      <div class="left">
        <a href="{% url 'frontend:videos_detail' f_video.slug %}">
          <div style="position: relative; height: 100%;">
            <img class="download-button medium" src="{% static 'images/download.png' %}" />
            <img class="img-item" src="{{f_video.img.url}}" />
          </div>
        </a>
      </div>
      <div class="right">
        <p class="sub-header header-feature-video">Featured Video</p>
        <p><span class="time">{{ f_video.time }} </span></p>
        <p class="title">{{ f_video.title }}</p>
        <div class="description">{{ f_video.long_desc | safe|truncatewords:"70"|linebreaks }}</div>
        <p class="date">Posted {{ f_video.date }}</p>
        <a class="share" href="#">Share Video</a>
      </div>
    </div>
  </div>
</section>

<section class="rwi-link">
  <div class="content-rwi-link">
    <div class="content">
      <div class="item">
        <img class="img-item" src="{% static 'images/rwi_videos.png' %}" />
        <h3>RWI Videos</h3>
        <p>Discover and Visit RWI's Video Here</p>
        <a href="/videos/" class="button">VISIT LINK</a>
      </div>

      <div class="item">
        <img class="img-item" src="{% static 'images/rwi_news.png' %}" />
        <h3>RWI News and Blogs</h3>
        <p>Discover and Visit RWI's Video Here</p>
        <a href="/news/" class="button">VISIT LINK</a>
      </div>

      <div class="item">
        <img class="img-item" src="{% static 'images/rwi_gallery.png' %}" />
        <h3>RWI Gallery</h3>
        <p>Discover and Visit RWI's Video Here</p>
        <a href="/gallery/" class="button">VISIT LINK</a>
      </div>
    </div>
  </div>
</section>

<section class="photos">
  <div>
    <div id="nanogallery2" data-nanogallery2='{ 
          "viewerTools":     {
            "topLeft":    "pageCounter",
            "topRight":   "closeButton"
          },
          "thumbnailWidth":   "auto",
          "thumbnailHeight":  "180",
          "galleryMosaic" :   [
            { "w": 2, "h": 2, "c": 1, "r": 1 },
            { "w": 1, "h": 1, "c": 3, "r": 1 },
            { "w": 1, "h": 1, "c": 3, "r": 2 },
            { "w": 1, "h": 2, "c": 4, "r": 1 },
            { "w": 2, "h": 1, "c": 5, "r": 1 }
          ]
        }'>
      {% for photo in featured_photos %}
      <a href="{{ photo.img.url }}" data-ngthumb="{{ photo.img.url }}"></a>
      {% endfor %}
    </div>

  </div>
  <div class="see-all">
    <img class="icon-cam" src="{% static 'images/icon-cam.png' %}" />
    <div>
      <h5 class="thousand-text">Photos that tell a <span class="thousand-text">thousand stories</span></h5>
      <p>{{ settings.photos_description.text_value|safe }}</p>
      <a href="/gallery/" class="button button-blue" style="margin-top: 10px;">SEE ALL PHOTOS</a>
    </div>
  </div>

  <div class="join-movement">
    <div class="content-movement">
      <p>{{ settings.join_movement.text_value|safe }}</p>
      <h3>{{ settings.join_movement_description.text_value|safe }}</h3>
      <h2>#{{ settings.join_movement_hashtag.text_value|safe }}</h2>
    </div>
    <img class="people-photos-mobile" src="{% static 'images/people.png' %}" style="width: 100%;" />
  </div>

  <img class="people-photos" src="{% static 'images/people.png' %}" style="width: 100%;" />
</section>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'node_modules/nanogallery2/dist/jquery.nanogallery2.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $(document).on('click','#carousel-item', function(e){
      if (e.target.tagName == "DIV") {
        window.open(this.getAttribute('findout-url'), '_blank');
      }
      else if (e.target.tagName == "A") {
        window.open(this.getAttribute('video-url'), '_blank');
      }
    })
  })
</script>
{% endblock %}