<meta name="description" content="{{settings.seo_description.text_value}}" />
<meta name="keywords" content="{{settings.seo_keywords.text_value}}" />
<meta name="application-name" content="Web" />

<meta property="fb:app_id" content="{{settings.seo_fb_id.text_value}}" />
<meta property="og:title" content="{{settings.seo_title.text_value}}" />
<meta property="og:type" content="web" />
<meta property="og:image" content="{{settings.seo_domain.text_value}}{{settings.seo_image.img_value}}" />
<meta property="og:url" content="{{settings.seo_domain.text_value}}" />
<meta property="og:description" content="{{settings.seo_description.text_value}}" />

<meta name="twitter:title" content="{{settings.seo_title.text_value}}" />
<meta name="twitter:description" content="{{settings.seo_description.text_value}}" />
<meta name="twitter:image" content="{{settings.seo_domain.text_value}}{{settings.seo_image.img_value}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image:width" content="1200" />
<meta name="twitter:image:height" content="630" />