{% extends 'frontend/base.html' %}
{% load humanize %}
{% load templatehelpers %}
{% block content %}

<section class="featur-news">
  <div class="content-feature-news">
    <div class="content">
      <div class="left">
        <img class="img-item" src="{{ featured.img.url }}" />
      </div>
      <div class="right">
        <p class="sub-header header-feature-news">Featured</p>
        <p class="description">{{ featured.date }}</p>
        <p class="title">{{ featured.title }}</p>
        <p class="description">{{ featured.short_desc|truncatewords:"35" }}</p>
        <a href="{% url 'frontend:news_detail' featured.slug %}" class="button">Read More</a>
      </div>
    </div>
  </div>
</section>

<section class="news-wrapper-detail">
  <div class="content-news-wrapper">
    <p class="sub-header header-news">Latest News</p>
    <div class="content-news row" id="news">
      {% for news in newss %}
      {% if forloop.counter|mod:4 == 0 %}
      <div class="col-md-12 item-big">
        <div class="inner-item">
          <div class="left">
            <img class="img-item" src="{{ news.img.url }}" />
          </div>
          <div class="right">
            <p class="description">{{ news.date }}</p>
            <p class="title">{{ news.title }}</p>
            <p class="description">{{news.short_desc|safe|truncatewords:"40"|linebreaks}}</p>
            <a href="{% url 'frontend:news_detail' news.slug %}" href="" class="button">Read More</a>
          </div>
        </div>
      </div>
      {% else %}
      <div class="col-md-4 col-sm-12 item">
        <div class="inner-item">
          <img class="img-item" src="{{ news.img.url }}" />
          <div class="item-content">
            <p class="title">{{news.title}}</p>
            <p class="description">{{news.short_desc|safe|truncatewords:"30"|linebreaks}}</p>
            <p class="date">{{news.date}}</p>
            <a href="{% url 'frontend:news_detail' news.slug %}" class="read-more">Read More</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="clear"></div>
    </div>
    <div class="load_more_wrapper">
        <a class="button" id="lazyLoadLink" 
            href="javascript:void(0);" 
            data-page="2" 
            data-link="{% url 'frontend:lazy_load_news' %}" 
            >Load More</a>
    </div>
  </div>
</section>

{% endblock content %}

{% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  
  <script type="text/javascript">
    (function($) {
      $('#lazyLoadLink').on('click', function() {
      var link = $(this);
      var page = link.data('page');
      $.ajax({
          type: 'post',
          url: link.data('link'),
          data: {
              'page': page,
          },
          success: function(data) {
          // if there are still more pages to load,
          // add 1 to the "Load More Posts" link's page data attribute
          // else hide the link
          if (data.has_next) {
              link.data('page', page+1);
          } else {
              link.hide();
          }
              // append html to the posts div
              $('#news').append(data.news_html);
          },
          error: function(xhr, status, error) {
              // shit happens friends!
          }
      });
      })
  }(jQuery));
</script>
{% endblock extra_js%}