{% load templatehelpers %}
{% for news in newss %}
  {% if forloop.counter|mod:4 == 0 %}
  <div class="col-md-12 item-big">
    <div class="inner-item">
      <div class="left">
        <img class="img-item" src="{{ news.img.url }}" />
      </div>
      <div class="right">
        <p class="description">{{ news.date }}</p>
        <p class="title">{{ news.title }}</p>
        <p class="description">{{news.short_desc|safe|truncatewords:"60"|linebreaks}}</p>
        <a href="{% url 'frontend:news_detail' news.slug %}" href="" class="button">Read More</a>
      </div>
    </div>
  </div>
  {% else %}
  <div class="col-md-4 col-sm-12 item">
    <div class="inner-item">
      <img class="img-item" src="{{ news.img.url }}" />
      <div class="item-content">
        <p class="title">{{news.title}}</p>
        <p class="description">{{news.short_desc|safe|truncatewords:"60"|linebreaks}}</p>
        <p class="date">{{news.date}}</p>
        <a href="{% url 'frontend:news_detail' news.slug %}" class="read-more">READ MORE</a>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}