{% extends 'frontend/base.html' %}
{% load humanize %}
{% load templatehelpers %}
{% block content %}
<section class="news-detail">
  <div class="content-feature-news">
    <div class="content">
      <div class="left">
        <div class="news-header">
          <h4>{{ news.title }} </h4>
          <p>{{ news.date }}</p>
        </div>
        <img src="{{ news.img.url }}">
        <div class="news">
          <div class="news-left">
            <!-- <img class="profile" src="{{ news.author.picture.url }}" /> -->
            <!-- <h6 class="molly">{{ news.author }}</h6>
            <p class="staff">{{ news.author.about | safe }}</p> -->
            <p class="tags">Tags</p>
            {% for tag in news.tags.all %}
            <a href="{% url 'frontend:news' %}?tag={{tag.id}}" class="button">{{ tag.name }} </a>
            {% endfor %}
            <p >Share</p>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
              <i class="fa fa-facebook"></i> facebook</a> 
            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" target="_blank">
              <i class="fa fa-twitter"></i> twitter </a> 
          </div>
          <div class="news-right">
            {{ news.long_desc | safe }}
          </div>
        </div>
        <div class="comments">
          {% include 'frontend/comments.html' with url=news.slug %}
        </div>
      </div>

      <div class="right">
        <h5>Related News</h5>
        {% for news in newss|slice:":2" %}
        <div class="top">
          <img src="{{ news.img.url }}" />
          <h6 class="title">{{ news.title }}</h6>
          <p class="description">{{ news.short_desc }}</p>
          <a href="{% url 'frontend:news_detail' news.slug %}" class="read-more">READ MORE</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</section>

<!-- <section class="related-videos">
  <div class="content-related-videos">
    <p class="sub-header header-related-videos">Related Videos</p>
    <div class="content-related row">
      {% for video in related_videos|slice:":4" %}
        <div class="item col-md-3 col-sm-12">
          <a href="{% url 'frontend:videos_detail' video.slug %}">
            <div class="item-inner">
              <img class="img-item" src="{{ video.img.url }}" />
              <p class="title">{{ video.title }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section> -->

{% endblock content %}

{% block extra_js %} 
<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
<script type="text/javascript">
  commentBox('my-project-id');
</script>
{% endblock %}
