{% load humanize %}
{% load templatehelpers %}
{% load static %}

{% for pub in publications %}
<div class="pub-item">
  <div class="img-wrapper">
    <img src="{{ pub.img.url }}" />
  </div>
  <div class="text">
    <h5>{{ pub.title }}</h5>
    <p>{{ pub.short_desc }} . {{ pub.date }}</p>
    <p>{{ pub.long_desc | safe }}</p>
    <a href="{{ pub.file.url }}" download>
      <img src="{% static 'images/download_paper.png' %}" />
    </a>
  </div>
</div>
{% endfor %}