{% extends 'frontend/base.html' %}
{% load humanize %}
{% load templatehelpers %}
{% load static %}
{% block content %}

<!-- top highlight -->
<section class="publication">
  <div class="content-publication">
    <div class="content">
      <div class="item left">
        <h4 class="filter-by">Filter By</h4>

        <div class="accordion" id="research" style="margin-top: 20px;">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseTwo">
                  Year Published
                </button>
              </h2>
            </div>

            <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#research">
              <div class="card-body">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" onclick="filterPublication()" name="2023">
                    <label class="form-check-label" for="2025">2025</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" onclick="filterPublication()" name="2023">
                    <label class="form-check-label" for="2024">2024</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" onclick="filterPublication()" name="2023">
                    <label class="form-check-label" for="2023">2023</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" onclick="filterPublication()" name="2022">
                    <label class="form-check-label" for="2022">2022</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" onclick="filterPublication()" name="2021">
                    <label class="form-check-label" for="2021">2021</label>
                  </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="item right">
        <h3 class="all-pub">All Publication</h3>
          {% include 'frontend/pub-list.html' %}

          <div style="display: flex; justify-content: center;">
            <nav aria-label="">
              <ul class="pagination">
                {% if publications.has_previous %}
                  <li class="page-item"><a class="page-link" href="{% relative_url publications.previous_page_number 'page' request.GET.urlencode %}"> < </a></li>
                {% endif %}
                {% for i in publications.paginator.page_range %}
                  <li class="page-item"><a class="page-link {% if publications.number == i %}is-active{% endif %}" href="{% relative_url i 'page' request.GET.urlencode %}">{{forloop.counter}}</a></li>
                {% endfor %}
                {% if publications.has_next %}
                  <li class="page-item"><a class="page-link" href="{% relative_url publications.next_page_number 'page' request.GET.urlencode %}"> > </a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
  function filterPublication() {
    let years = ''
    $('.form-check-input').each(function(i, obj) {
      if (obj.checked) {
        years += obj.name + ' '
      }
    });

    $.ajax({
        type: 'post',
        url: "{% url 'frontend:search_publication' %}",
        data: {
          'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
          'years': JSON.stringify(years)
        },
        success: function(data) {
          if (data.count > 0) {
            $('.right').html(data.pubs_html);
          } else {
            console.log("sssss")
            $('.right').html('<p>No data found</p>');
          }
        },
        error: function(xhr, status, error) {
          console.log(error)
        }
    });
  }
</script>
{% endblock extra_js %}