<section class="related-videos">
  <div class="content-related-videos">
    <p class="sub-header header-related-videos">Related Videos</p>
    <div class="content-related row">
      {% for video in related_videos|slice:":4" %}
        <div class="item col-md-3 col-sm-12">
          <div class="item-inner">
            <img class="img-item" src="{{ video.img.url }}" />
            <p class="title">{{ video.title }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
