{% extends 'frontend/base.html' %}
{% load humanize %}
{% load templatehelpers %}
{% load static %}
{% block content %}

<!-- top highlight -->
<section class="publication">
  <div class="content-publication">
    <div class="content">
      <div class="item right">
        <h3 class="all-pub">Search Result</h3>
          {% for data in datas %}
            {% if data.model_name == 'video'%}
              <a class="pub-item" href="{% url 'frontend:videos_detail' data.slug %}">
                <div class="img-wrapper">
                  <img src="{{ data.img.url }}" />
                </div>
                <div class="text">
                  <h5>{{ data.title }}</h5>
                  <p style="color: #4cb4c4 !important;">{{ data.model_name }}</p>
                  <p>{{ data.long_desc|safe|truncatewords:"60"|linebreaks }}</p>
                </div>
              </a>
            {% elif data.model_name == 'news' %}
              <a class="pub-item" href="{% url 'frontend:news_detail' data.slug %}">
                <div class="img-wrapper">
                  <img src="{{ data.img.url }}" />
                </div>
                <div class="text">
                  <h5>{{ data.title }}</h5>
                  <p style="color: #4b087a !important;">{{ data.model_name }}</p>
                  <p>{{ data.long_desc|safe|truncatewords:"60"|linebreaks }}</p>
                </div>
              </a>
            {% else %}
              <div class="pub-item" >
                <div class="img-wrapper">
                  <img src="{{ data.img.url }}" />
                </div>
                <div class="text">
                  <h5>{{ data.title }}</h5>
                  <p style="color: green !important;">{{ data.model_name }}</p>
                  <p>{{ data.long_desc|safe|truncatewords:"60"|linebreaks }}</p>
                  <a href="{{ data.file.url }}" download>
                    <img src="{% static 'images/download_paper.png' %}" />
                  </a>
                </div>
              </div>
            {% endif %}
          {% endfor %}

          {% if nodata %} 
              <p> No data found</p>
          {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
  function filterPublication() {
    let years = ''
    $('.form-check-input').each(function(i, obj) {
      if (obj.checked) {
        years += obj.name + ' '
      }
    });

    $.ajax({
        type: 'post',
        url: "{% url 'frontend:search_publication' %}",
        data: {
          'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
          'years': JSON.stringify(years)
        },
        success: function(data) {
          if (data.count > 0) {
            $('.right').html(data.pubs_html);
          } else {
            console.log("sssss")
            $('.right').html('<p>No available data</p>');
          }
        },
        error: function(xhr, status, error) {
          console.log(error)
        }
    });
  }
</script>
{% endblock extra_js %}