{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load templatehelpers %}
{% block content %}
<section class="videos">
  <div class="content-videos">
    <div class="content">
      <div class="left">
        <a href="{% url 'frontend:videos_detail' featured.slug %}">
          <div style="position: relative;">
            <img class="download-button" src="{% static 'images/download.png' %}" />
            <img src="{{featured.img.url}}" />
          </div>
        </a>
        <div class="title-wrapper">
        <h5 class="title">{{featured.title}}</h5>
        <p> <span class="time">{{featured.time}}</span> &nbsp; Posted On: {{featured.date}}</p>
       </div>
      </div>
      <div class="right">
        {% for vid in videos|slice:"0:1" %}
        <div class="top">
          <div style="position: relative;">
            <img src="{{ vid.img.url }}" />
            <img class="download-button small" src="{% static 'images/download.png' %}" />
          </div>
          <div class="title-wrapper">
            <h6 class="people-mental">{{ vid.title }}</h6>
            <p > <span class="time">{{vid.time}} </span> &nbsp;Posted On: {{vid.date}}</p>
          </div>
        </div>
        {% endfor %}
        <div class="bottom">
          <h6 class=human-rights-facts>{{ settings.videos_highlight_title.text_value }}</h6>
        </div>
        <div>
          <h6 class="approximatelly">{{ settings.videos_highlight_description.text_value }}</h6>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>


<section class="videos-wrapper-list">
  <div class="content-videos-wrapper">
    <div class="content-videos row">
      {% for vid in videos|slice:"2:4" %}
      <div class="col-md-6 col-sm-12 item">
        <div class="inner-item">
          <div style="position: relative;">
            <img class="download-button medium" src="{% static 'images/download.png' %}" />
            <img class="img-item" src="{{vid.img.url}}" />
          </div>
          <div class="title-wrapper">
            <p class="title">{{vid.title}}</p>
            <p ><span class="time">{{vid.time}}</span> &nbsp;Posted On: {{vid.date}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="clear"></div>
  </div>
</section>

<section class="related-videos">
  <div class="content-related-videos">
    <p class="sub-header header-related-videos">Related Videos</p>
    <div class="content-related row">
      {% for video in related_videos|slice:":4" %}
        <div class="item col-md-3 col-sm-12">
          <a href="{% url 'frontend:videos_detail' video.slug %}">
            <div class="item-inner">
              <div style="position: relative;">
                <img class="download-button small" src="{% static 'images/download.png' %}" />
                <img class="img-item" src="{{ video.img.url }}" />
              </div>
              <div class="title-wrapper">
                <p class="title">{{ video.title }}</p>
                <p ><span class="time">{{video.time}}</span> Posted On: {{video.date}}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}