{% extends 'frontend/base.html' %}
{% load humanize %}
{% load templatehelpers %}
{% block content %}

<section class="video-detail">
  <div class="content-feature-video">
    <div class="content">
      <div class="left">
        <iframe frameborder="0" style="overflow:hidden;" width="100%" height="450px"
           src="{{ video.video_url }}"> 
        </iframe>
        <div class="sub-content">
          <h5>{{video.title}}</h5>
          <p>Published {{video.date}}
            <span style="float: right;">
            Share:
            <a href="https://www.facebook.com/sharer/sharer.php?u={{video.video_url}}" target="_blank">
              <i class="fa fa-facebook"></i> facebook</a>
            <a href="https://twitter.com/intent/tweet?url={{video.video_url}}" target="_blank">
              <i class="fa fa-twitter"></i> twitter</a> 
            </span>
          </p>
          <hr />
          <div>
            Tags: 
            {% for tag in video.tags.all %}
              <a href="{% url 'frontend:videos' %}?tag={{tag.id}}" class="button">{{ tag.name }}</a> 
            {% endfor %}
          </div>
        </div>
        <div class="sub-content">
          <h5>The Story Behind</h5>
          <p>{{ video.long_desc | safe }}</p>
        </div>
        <div class="comment">
          {% include 'frontend/vid_comments.html' with url=news.slug %}
        </div>
      </div>

      <div class="right">
        <h5>Related News & Blogs</h5>
        {% for news in newss|slice:":2" %}
          <div class="top">
            <img src="{{ news.img.url }}" />
            <h6 class="title">{{ news.title }}</h6>
            <p class="description">{{ news.short_desc }}</p>
            <a href="{% url 'frontend:news_detail' news.slug %}" class="read-more">READ MORE</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</section>

<section class="related-videos">
  <div class="content-related-videos">
    <p class="sub-header header-related-videos">Related Videos</p>
    <div class="content-related row">
      {% for video in related_videos|slice:":4" %}
        <a class="item col-md-3 col-sm-12" href="{% url 'frontend:videos_detail' video.slug %}">
            <div class="item-inner">
              <img class="img-item" src="{{ video.img.url }}" />
              <div class="title-wrapper">
                <p class="titlee">{{ video.title }}</p>
              </div>
            </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}